<div class="container-create-user">
  <form class="create-user" name='createUserStudent'  ng-submit="createUserStudent.$valid && addStudentUser()" novalidate>
      <h2>Créer un compte étudiant</h2>
      <md-input-container>
          <label>Email</label>
          <input type="email" ng-model="studentAccount.email" required>
      </md-input-container>
      <span class="error-msg" ng-show='createUserStudent.$submitted && createUserStudent.emailStudent.$error.email'>Cette adresse E-mail n'est pas valide</span>
      <md-input-container>
          <label>Nom</label>
          <input type="text" ng-model="studentAccount.lastName" required>
      </md-input-container>
      <md-input-container>
          <label>Prenom</label>
          <input type="text" ng-model="studentAccount.firstName" required>
      </md-input-container>
      <md-input-container>
          <label>Mot de passe</label>
          <input type="password" ng-model="studentAccount.password" required minlength='8'>
      </md-input-container>
      <p class="error-msg" ng-show='createUserStudent.$submitted && createUserStudent.$invalid'>Veuillez remplir les champs obligatoires marqué en rouge</p>
      <input class="create-user-button" value="Créer" type="submit">
  </form>
  <form class="create-user" name='createUserRecruit' ng-submit="createUserRecruit.$valid && addRecruiterUser()" novalidate>
      <h2>Créer un compte recruteur</h2>
      <md-input-container>
          <label>Email</label>
          <input type="email" ng-model="recruiterAccount.email" required>
      </md-input-container>
      <span class="error-msg" ng-show='createUserRecruit.$submitted && createUserRecruit.emailRecruit.$error.email'>Cette adresse E-mail n'est pas valide</span>
      <md-input-container>
          <label>Entreprise</label>
          <input type="text" ng-model="studentAccount.company" required>
      </md-input-container>
      <md-input-container>
          <label>Nom</label>
          <input type="text" ng-model="recruiterAccount.lastName" required>
      </md-input-container>
      <md-input-container>
          <label>Prenom</label>
          <input type="text" ng-model="recruiterAccount.firstName" required>
      </md-input-container>
      <md-input-container>
          <label>Maitrise recherchée</label>
          <md-select ng-model="recruiterAccount.technology" required>
              <md-option ng-repeat="skill in skills" ng-value="skill.name">
                  {{skill.name}}
              </md-option>
          </md-select>
      </md-input-container>
      <md-input-container>
          <label>Mot de passe</label>
          <input type="text" ng-model="recruiterAccount.password" required minlength='8'>
      </md-input-container>
      <p class="error-msg" ng-show='createUserRecruit.$submitted && createUserRecruit.$invalid'>Veuillez remplir les champs obligatoires marqué en rouge</p>
      <input class="create-user-button" value="Créer" type="submit">
  </form>
</div>
