<div class="container-create-student">
    <div class="choose-pic">
        <div id="upload-pic"></div>
        <form id="upload-photos" method="post" action="/api/upload_photos" enctype="multipart/form-data">
            <div class="form-group">
                <input id="photos-input" type="file" name="photos[]" multiple="multiple">
            </div>
            <input class="btn btn-default" type="submit" name="Photo Uploads" value="Upload Photo" />
        </form>
        <p>Formats acceptés: jpg, png, jpeg entre 200Ko et 1Mo</p>
        <p class='errorUpload'></p>
    </div>
    <form name="createCard" class="container-create" novalidate>
        <div class="section-BO">
            <h1 class="info-title">Informations</h1>
            <div class="cont-input-create">
                <md-input-container>
                    <label>Nom</label>
                    <input type="text" ng-model="student.nom" required>
                </md-input-container>
                <md-input-container>
                    <label>Prenom</label>
                    <input type="text" ng-model="student.prenom" required>
                </md-input-container>
            </div>
            <div class="cont-input-create">
                <md-input-container>
                    <label>Age</label>
                    <input type="text" ng-model="student.age" required>
                </md-input-container>
                <md-input-container>
                    <label>Sexe</label>
                    <md-select ng-model="student.Sexe" required>
                        <md-option value="Homme">Homme</md-option>
                        <md-option value="Femme">Femme</md-option>
                        <md-option value="Autre">Autre</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="cont-input-create">
                <div class="cont-BO-calendar">
                    <p>Date de diponibilité</p>
                    <md-datepicker md-min-date='minDate' md-placeholder="Choisir date" ng-model="student.dispo" name='dateDispo' required></md-datepicker>
                    <span class="error-msg" ng-if='createCard.$submitted && createCard.dateDispo.$invalid'>Veuillez indiquer une date de disponibilité</span>
                </div>
                <md-input-container>
                    <label>Region</label>
                    <md-select ng-model="student.region" required>
                        <md-option ng-repeat="region in regions" ng-value="region.name">
                            {{region.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="cont-CONTRAT-input">
                <p>Contrat(s) recherché(s):</p>
                <div class="input-checkbox-container">
                  <div flex-gt-sm="50" ng-repeat="contract in contracts">
                      <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" ng-click="showContracts()" checklist-model="student.Contrat" checklist-value="contract.name" ng-model="checked" ng-required='student.Contrat.length < 1'> {{ contract.name }}
                      </md-checkbox>
                  </div>
                </div>
            </div>
            <span class="error-msg" ng-show='createCard.$submitted && student.Contrat.length < 1'>Vous devez choisir au moins un type de contrat</span>

            <div class="cont-input-create">
                <md-input-container>
                    <label>Promo</label>
                    <md-select ng-model="student.promo" required>
                        <md-option ng-repeat="promo in promos" ng-value="promo.name">
                            {{promo.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>E-mail</label>
                    <input type="email" ng-model="student.Mail" required>
                </md-input-container>
            </div>

            <div class="cont-input-create">
                <md-input-container>
                    <label>Github</label>
                    <input type="url" value="http://" ng-model="student.Github" required>
                </md-input-container>
                <md-input-container>
                    <label>Linkedin</label>
                    <input type="url" value="http://" ng-model="student.Linkedin">
                </md-input-container>
            </div>
            <div class="cont-input-create">
                <md-input-container>
                    <label>Portfolio</label>
                    <input type="url" value="http://" ng-model="student.Portfolio">
                </md-input-container>
                <md-input-container>
                    <label>Twitter</label>
                    <input type="url" value="http://" ng-model="student.Twitter">
                </md-input-container>
            </div>

            <div class="cont-input-create">
                <md-input-container>
                    <label>StackOverFlow</label>
                    <input type="url" value="http://" ng-model="student.StackOverFlow">
                </md-input-container>
            </div>

        </div>

        <div class="section-BO">
            <h1 class="info-title">Profil</h1>
            <div class="cont-textarea-create">
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="student.description" md-maxlength="300" rows="4" md-select-on-focus required></textarea>
                </md-input-container>
            </div>
        </div>

        <div class="section-BO">
            <h1 class="info-title">Compétences</h1>

            <div class="cont-input-create">
                <md-input-container>
                    <label>Domaine</label>
                    <md-select ng-model="student.Domaine" required>
                        <md-option ng-repeat="field in fields" ng-value="field.name">
                            {{field.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>CV</label>
                    <input type="url" ng-model="student.CV" required>
                </md-input-container>
            </div>
            <div class="cont-input-create">
                <md-input-container>
                    <label>Première spécialité</label>
                    <md-select ng-change='compareSkill("SpecialiteUn", student.SpecialiteUn)' ng-model="student.SpecialiteUn" ng-required='checkSpe' required>
                        <md-option ng-repeat="skill in skills" ng-value="skill.name">
                            {{skill.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Deuxième spécialité</label>
                    <md-select ng-change='compareSkill("SpecialiteDeux", student.SpecialiteDeux)' ng-model="student.SpecialiteDeux" ng-required='checkSpe' required>
                        <md-option ng-repeat="skill in skills" ng-value="skill.name">
                            {{skill.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="cont-input-create">
                <md-input-container>
                    <label>Troisième spécialité</label>
                    <md-select ng-change='compareSkill("SpecialiteTrois", student.SpecialiteTrois)' ng-model="student.SpecialiteTrois" ng-required='checkSpe' required>
                        <md-option ng-repeat="skill in skills" ng-value="skill.name">
                            {{skill.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <span class="error-msg" ng-if='createCard.$submitted && !checkSpe'>Vous ne pouvez pas choisir plusieurs fois la même spécialité ou en avoir de vide</span>
            <div class="cont-skill-create">
                <div class="cont-input-create">
                    <md-input-container class="md-block">
                        <label>Compétences</label>
                        <input type="text" ng-model="tag">
                    </md-input-container>
                </div>
                <button type="button" ng-click='addTag(tag); tag = ""' name="button" class="tagViewVille">Ajouter</button>
            </div>
            <ul class="tags-list">
                <li class="tagViewVille" ng-repeat='tag in student.tags track by $index'>{{tag}}
                    <span class="closeButton" ng-click='removeTag(tag)'></span>
                </li>
            </ul>
            <h3 class="info-title-sm">Projets</h3>
            <div class="cont-input-create">
                <md-input-container>
                    <label>Projet 1</label>
                    <input type="url" value="http://" ng-model="student.ProjetUn">
                </md-input-container>
                <md-input-container>
                    <label>Projet 2</label>
                    <input type="url" value="http://" ng-model="student.ProjetDeux">
                </md-input-container>
            </div>
            <div class="cont-input-create">
                <md-input-container>
                    <label>Projet 3</label>
                    <input type="url" value="http://" ng-model="student.ProjetTrois">
                </md-input-container>
            </div>
        </div>
        <button type="submit" class="create-user-button" ng-click="createCard.$valid && createSimplonien()">
      <h4>Ajouter</h4>
    </button>
    </form>
</div>
