<div class="handle-CSV">
  <div class="csv-card">
    <button type="button" class="delete-filter-button" ng-click="getCsvRecruiter()">
      <h1>Mettre à jour le fichier CSV Recruteurs</h1>
    </button>
    <a class="delete-filter-button" href="assets/csv/recruteur.csv" download>
      <h1>Télécharger le CSV Recruteurs</h1>
    </a>
  </div>
  <div class="csv-card">
    <button type="button" class="delete-filter-button" ng-click="getCsvStudent()">
      <h1>Mettre à jour le fichier CSV Simplonien</h1>
    </button>
    <a class="delete-filter-button" href="assets/csv/simplonien.csv" download>
      <h1>Télécharger le CSV Simplonien</h1>
    </a>
  </div>
  <div class="csv-card">
    <button type="button" class="delete-filter-button" ng-click="getCsvStudentProfil()">
      <h1>Mettre à jour le fichier CSV des fiches Simploniens</h1>
    </button>
    <a class="delete-filter-button" href="assets/csv/simplonienProfil.csv" download>
      <h1>Télécharger le CSV des fiches Simploniens</h1>
    </a>
  </div>
</div>
