<div class="container-delete-user">
    <h2>Supprimer une fiche d'un Simplonien</h2>
    <input type="text" class="input-BO-style" ng-model="removeFilter" placeholder="Rechercher...">
    <div class="container-users">
        <div class="cont-info" ng-repeat="simplonien in simploniens | filter: removeFilter" ng-if="simplonien.verified === true">
            <p ng-if="simplonien.nom !== '' " class="cont-pseudo lg">{{simplonien.nom}}</p>
            <p ng-if="simplonien.nom !== '' " class="cont-pseudo sm">{{simplonien.prenom}}</p>
            <p ng-if="simplonien.nom !== '' " class="cont-pseudo lg">{{simplonien.promo}}</p>
            <div class="student-actions">
              <button ui-sref="admin.modifyCard({id: simplonien._id})" ng-if="simplonien.nom !== '' " class="modify">Modifier</button>
              <div ng-if="simplonien.nom !== '' " class="delete-user" ng-click="deleteStudent(simplonien._id, simplonien.photo)" confirm="Are you sure ?"></div>
            </div>
        </div>
    </div>
</div>
