<div class="handle-filter">
  <div class="filter-card">
      <h1>Regions</h1>
      <div class="input-add">
      <md-input-container>
          <label>Region</label>
          <input type="text" ng-model="region.name">
      </md-input-container>
      <button type="button" class="delete-filter-button" ng-click="addRegion()">
          <h4>Ajouter</h4>
      </button>
    </div>
      <div ng-repeat="region in regions" class="filter-name">
          <p>{{region.name}}</p>
          <div class="delete-user" ng-click="removeRegion(region._id)"></div>
      </div>
  </div>

  <div class="filter-card">
      <h1>Contrats</h1>
      <div class="input-add">
        <md-input-container>
            <label>Contrat</label>
            <input type="text" ng-model="contract.name">
        </md-input-container>
      <button type="button" class="delete-filter-button" ng-click="addContract()">
          <h4>Ajouter</h4>
      </button>
    </div>
      <div ng-repeat="contract in contracts" class="filter-name">
          <p>{{contract.name}}</p>
          <div class="delete-user" ng-click="removeContract(contract._id)"></div>
      </div>
  </div>

    <div class="filter-card">
        <h1>Compétences</h1>
        <div class="input-add">
          <md-input-container>
              <label>Compétences</label>
              <input type="text" ng-model="skill.name">
          </md-input-container>
        <button type="button" class="delete-filter-button" ng-click="addSkill()">
            <h4>Ajouter</h4>
        </button>
      </div>
        <div ng-repeat="skill in skills" class="filter-name">
            <p>{{skill.name}}</p>
            <div class="delete-user" ng-click="removeSkill(skill._id)"></div>
        </div>
    </div>
    <div class="filter-card">
        <h1>Domaines d'expertise</h1>
        <div class="input-add">
          <md-input-container>
              <label>Domaine</label>
              <input type="text" ng-model="field.name">
          </md-input-container>
        <button type="button" class="delete-filter-button" ng-click="addField()">
            <h4>Ajouter</h4>
        </button>
      </div>
        <div ng-repeat="field in fields" class="filter-name">
            <p>{{field.name}}</p>
            <div class="delete-user" ng-click="removeField(field._id)"></div>
        </div>
    </div>
</div>
