<div class="handle-filter">
    <div class="promo-card">
        <h1>Promotions</h1>
        <div class="input-add">
          <md-input-container>
              <label>Promotion</label>
              <input type="text" ng-model="promo.name">
          </md-input-container>
            <button type="button" class="delete-filter-button" ng-click="addPromo()">
            <h4>Ajouter</h4>
        </button>
        </div>
        <div ng-repeat="promo in promos" class="filter-name">
            <p>{{promo.name}}</p>
            <div class="delete-user" ng-click="removePromo(promo._id)"></div>
        </div>
    </div>
    <div class="promo-card">
        <h1>Fabriques</h1>
        <form class="input-add-school" ng-submit="addSchool()" >
          <md-input-container>
              <label>Ville</label>
              <input type="text" ng-model="school.name" required>
          </md-input-container>
          <md-input-container>
              <label>Adresse</label>
              <input type="text" ng-model="school.adress" required>
          </md-input-container>
          <md-input-container>
              <label>Latitude</label>
              <input type="text" ng-model="school.latitude" required>
          </md-input-container>
          <md-input-container>
              <label>Longitude</label>
              <input type="text" ng-model="school.longitude" required>
          </md-input-container>
            <a target="_blank" href="http://www.coordonnees-gps.fr/">Pour les coordonnées GPS</a>
            <md-input-container>
                <label>Site</label>
                <input type="url" value="http://" ng-model="school.website" required>
            </md-input-container>
            <button type="submit" class="delete-filter-button">
              <h4>Ajouter</h4>
          </button>
        </form>
        <div ng-repeat="school in schools" class="filter-name">
            <p>{{school.name}}</p>
            <div class="delete-user" ng-click="removeSchool(school._id)"></div>
        </div>
    </div>
</div>
