<div class="container-delete-user">
    <h2>Fiche(s) simplonien(s) en attente de validation</h2>
    <div class="container-users">
        <div class="cont-info" ng-repeat="simplonien in simploniens" ng-if="simplonien.verified === false">
            <p class="cont-pseudo">{{simplonien.nom}}</p>
            <p  class="cont-pseudo sm">{{simplonien.prenom}}</p>
            <p  class="cont-pseudo lg">{{simplonien.promo}}</p>
            <button  class="modify" ng-click="acceptSimplonien(simplonien._id)">Accepter</button>
            <button  class="delete" ng-click="deleteStudent(simplonien._id)">Refuser</button>
        </div>
    </div>
</div>
