.container-bo {
	display: flex;
	min-height: 90vh;
	background-color: rgb(227,230,236);
	.changeAdminPass{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		min-height: 300px;
		width: 350px;
		text-align: center;
	}
	.create-admin{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 30px 0;
		height: 300px;
	}
	.handle-CSV{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;

		.delete-filter-button{
			margin-left:0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 70px;
			width: 260px;
			margin: 20px;
			background-color: white;
			h1{
				color: black;
				font-weight: bold;
			}
		}
	}

	.container-nav-bo {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: calc(100vh - 50px);
		align-items: center;
		background-color: rgb(227,230,236);
		width: 25vw;
		padding: 20px;

		h1{
			text-align: center;
			margin: 0;
		}

		h1 a {
			color: rgb(64, 61, 61);
			font-size: 0.37em;
			text-decoration: none;
			display: inline-block;
			position: relative;
			padding-bottom: 7px;
		}

		a.effect-underline:after {
			content: '';
			position: absolute;
			left: 0;
			display: inline-block;
			height: 1em;
			width: 100%;
			border-bottom: 1px solid;
			margin-top: 10px;
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: scale(0,1);
			transform: scale(0,1);
		}

		a.effect-underline:hover:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		.menu-active {
			border-bottom: 1px solid rgb(102, 102, 102);
		}
	}

	.container-interface {
		background-color: rgb(38, 38, 38);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 75vw;
		color: white;
		padding: 0 40px 40px 40px;

		h1 {
			text-align: center;
		}

		.container-create-user {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 70vh;
			width: 80%;
			.create-user{
				min-width: 400px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				height: 100%;
				h2{
					text-align: center;
					font-size: 1.6em;
				}
				.input-BO-style{
					width: 70%;
				}
			}
			// p {
			// 	color: red;
			// 	text-align: center;
			// }
			.cont-BO-calendar{
				.md-datepicker-input-container{
					border-bottom: 1px solid rgba(166, 166, 166, 0.85);
				}
			}
		}

		.container-create-user, .container-delete-user, .handle-CSV, .handle-filter{
			width:$full;
		}

		.container-delete-user {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			.delete-filter-button{
				margin: 20px;
			}
			h2{
				margin: 30px;
				text-align: center;
			}

			.container-title {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-right: 40px;

				.title {
					margin: 10px;
					background-color: black;
					color: white;
					height: 50px;
					width: 180px;
					text-align: center;
				}
			}

			.container-users {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				margin-top: 30px;
				width: 100%;


				.cont-info {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					height: 45px;
					border-bottom: 1px solid rgb(111, 111, 111);
					.student-actions{
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 130px;
					}
					.cont-pseudo{
						width: 22%;
						margin: 0;
						&.sm{
							width: 15%;
						}
						&.lg{
							width: 30%;
						}
					}
					.cont-perm {
						margin: 10px;
						background-color: white;
						color: black;
						height: 50px;
						width: 200px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}

		.container-create-student {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 60%;
			.container-create{
				background-color: transparent;
				padding:0;
				.error-msg{
					text-align: right;
				}
			}
		}
	}

	.modify, .delete {
		height: 25px;
		width: 60px;
		border: none;
		margin-left: 10px;
		margin-right: 10px;
		color: white;
		font-size: 11px;
		padding: 4px 2px 2px 2px;
	}
	.modify{
		background-color: green;
	}
	.delete{
		background-color: #de5b49;
	}
}

.filter-card, .promo-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}

.promo-card {
	width: 300px;
}

.filter-card {
	min-width: 220px;
}

@media screen and (max-width: 1100px){
	.filter-card {
		width: 180px;
	}
}

//  BUTTONS
.delete-user {
	background: url("../../assets/images/cross.png") no-repeat center;
	background-size: cover;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.create-user-button{
	margin-top: 10px;
	padding: 8px;
	width: 50%;
}

.delete-filter-button{
	margin-left: 10px;
	text-decoration: none;
	h4{
		margin: 5px;
		font-size: 1.2em;
	}
	h1{
		font-size: 1em;
		margin: 5px;
		color: white;
		padding: 5px;
		outline: none;
	}
	h4{
		font-size: 12px;
	}
}

.create-user-button, .delete-filter-button{
	border: 1px solid rgb(181, 181, 181);
	transition: 0.2s ease;
	background-color: transparent;
}


.create-user-button:hover, .delete-filter-button:hover{
	background-color: rgb(61, 59, 59);
	transition: 0.2s ease;
}



.handle-filter {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	.input-FILTER-style {
		height: 35px;
		width: 100%;
		border: none;
		border-bottom: 1px solid rgba(166, 166, 166, 0.85);
		background-color: transparent;
		color: white;
		outline: none;
		&.input-FILTER-style-school{
			width: 80%;
		}
	}

	.input-FILTER-style:hover {
		border-bottom: 1px solid rgba(212, 212, 212, 0.85);
		outline: none;
	}

	.input-FILTER-style:focus {
		border-bottom: 1px solid white;
		outline: none;
	}
	.input-add{
		display: flex;
		align-items: flex-end;
		margin-bottom: 20px;
		width: 100%;
	}
	.input-add-school{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 300px;
		width: 100%;
		a{
			text-decoration: none;
			text-align: center;
			font-size: 0.8em;
			width: 150px;
		}
	}
	.input-name {
		margin: 10px;
	}

	.filter-name {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border: 1px solid rgb(64, 64, 64);
		padding: 5px;
		margin: 5px 0;

		p {
			margin: 0;
			padding: 0;
		}

		input {
			cursor: pointer;
			color: black;
		}
	}
}

.cont-BO-calendar{
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color:    white;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    white;
		opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    white;
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color:    white;
	}
	.md-datepicker-input{
		color: white;
	}
	md-icon{
		color: white;
	}
	.md-datepicker-expand-triangle{
		border-top-color: white;
	}
	md-datepicker{
		background-color: transparent;

	}
}

.BO-home{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1{
		font-size: 4.5em;
	}
	p{
		font-size: 1.7em;
	}
}

.cont-BO-input{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 20px 0;
	width: 100%;
	flex-wrap: wrap;
}
.cont-TECHNO-input{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
	width: 100%;
	p{
		color: white!important;
		font-size: 15px;
	}
}
.cont-CONTRAT-input{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
	width: 100%;
}

.input-competence{
	display: flex;
	width: 250px;
	.input-BO-style{
		width: 75%
	}
	.tagViewVille{
		font-size: 0.9em;
		margin-right: 0;
	}
}

.section-BO{
	width: 100%;
	textarea{
		height: 100px;
		background-color: rgb(51, 51, 51);
	}
}

.errorUpload{
	color: rgb(238, 61, 61);
}

.errorUploadStudent{
	color: rgb(64,71,90);
	font-weight: bold;
}

.input-BO-style {
	width: 250px;
	height: 35px;
	border: none;
	border-bottom: 1px solid rgba(166, 166, 166, 0.85);
	background-color: transparent;
	color: white;
	outline: none;
}

.input-checkbox-container.input-BO-style{
	border: none;
	&:hover{
		border: none;
	}
}

.input-BO-style:hover {
	border-bottom: 1px solid rgba(212, 212, 212, 0.85);
	outline: none;
}

.input-BO-style:focus {
	border-bottom: 1px solid white;
	outline: none;
}


@media screen and (max-width: 1100px) {
	.container-bo .container-interface{

		.cont-BO-input{
			p{
				width: 30%;
				font-size: 11px;
				margin-right: 10px;
			}
		}

		.cont-info {
			word-wrap: break-word!important;

			.cont-pseudo{
				font-size: 12px;
				margin-right: 10px!important;
				&.sm{

				}
			}

			.delete-user{
				height:16px;
				width: 16px;
			}
		}

		.handle-filter{
			// flex-direction:column;

			.filter-card{
				margin-top: 5%;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container-bo .container-interface{
		.container-create-student{
			width: 100%;
		}
	}
}
