/////////// Standart Form-field  \\\\\\\\\\\\
form{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.cont-input, md-input-container{
  width: 90%;
  margin: 15px 10px;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;

  &.full-width{
    width: 100%;
  }
  .md-input, input, select, textarea{
    height: 35px;
    width: 100%;
    border: none;
    background: transparent;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(115, 159, 190, 0.35);
    outline: none;
    border-radius: 0;
  }
  .md-input, input,textarea{
    color: white;
  }
  textarea{
    height: 140px;
    resize: vertical;
    word-wrap: break-word;
    overflow: visible;
  }
  input:hover {
    outline: none;
  }

  .error-msg{
    text-align: left;
  }
}

md-input-focused{
  height: 20px;
  label{
    color: rgb(165, 167, 189);
  }

  .md-input:focus, input:focus, textarea:focus {
    border-bottom: 1px solid rgba(115, 159, 190, 0.85);
    outline: none;
  }
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input{
  border-bottom: 1px solid rgba(115, 159, 190, 0.85);
  outline: none;
}

md-input-container .md-input.ng-invalid.ng-dirty{
  border-width: 0 0 1px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
textarea,select,input[type=checkbox]{
  box-shadow: none;
}

.show-input{
  display: block;
}

.form-instruction{
  font-weight: bold;
}

///////////// SECTIONS \\\\\\\\\\\\\
.section{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: $full;
  margin-bottom: 30px;

  .info-title{
    margin-bottom: 0;
    margin-bottom: 20px;
    max-width: 320px;
    text-align: center;
  }
  .info-title-sm{
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 15px;
  }
}
///////Group of form-fields \\\\\\\\\\\\\\
.info-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: $full;
}


////////////// BUTTONS \\\\\\\\\\\\\\\
.input-button-container{
  display: flex;
}

.input-checkbox-container{
  display: flex;
  flex-wrap: wrap;

  label{
    margin-right: 15px;
    font-weight: 400;
  }

  input[type=checkbox]{
    width: auto;
    height: auto;
  }
}

.checkbox-container{
  display: flex;
  align-items: center;
}

.checkbox-label{
  padding-left: 5px;
}

.button-container{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: center;
  width: $full;
  min-height: 75px;
}
.delete-button{
  background-color: #de5b49;
}

.edit-button{
  background-color: #2F3E52;
}
.edit-button, .delete-button{
  bottom: 0;
  height: 50px;
  width: 50%;
  border: none;
  color: white
}

//////////////// Input animation Login/register \\\\\\\\\\\\\\\\\\\\\\\\

.content input{
  background-color: #425877;
  color:white;
  border-style:none;
  height: 30px;
  width:130px;
  position: absolute;
  top:4px;
  left:3px;
  padding: 0px;
  font-weight: 100;
  font-size: 16px;
  z-index:1;
}

.content {
  position:relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  height: 50px;
  width:140px;
  line-height: 35px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid white;
  transition:0.5s;
  background-color: #425877;
}


.content:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #de5b49;

}


.content::before, .content::after {
  width: 100%;
  height: 100%;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing-top: border-box;
  transform: scale(0);
  transition: 0.5s;

}

.login::before {
  border-bottom: 3px solid #de5b49;
  border-left: 3px solid #de5b49;
  transform-origin: 0 100%;

}

.login::after {
  border-top: 3px solid #de5b49;
  border-right: 3px solid #de5b49;
  transform-origin: 100% 0%;
}



.content:hover::after, .content:hover::before {
  transform: scale(1);
}

//////////////// Input validation when submitted \\\\\\\\\\\\\\\\\\\\\\\\

.ng-submitted {
  md-datepicker.ng-invalid{
    border: none;
  }
  .ng-invalid{
    border-bottom: 1px solid rgb(221,44,0);;
    color: #de5b49;
    .md-datepicker-input-container{
      border-bottom: 1px solid rgb(221,44,0);;
    }
    &:focus{
      border-bottom: 1px solid rgb(221,44,0);;
    }
  }
  .ng-invalid.ng-dirty{
    color: rgb(221,44,0);;
  }
}

.ng-valid{
  .calendar{
    .md-datepicker-input-container{
      border: none;
    }
  }
}

.error-msg{
  font-size: 0.9em;
  color: rgb(221,44,0);
  margin: 5px 0;
  width: $full;
  font-weight: bold;
  text-align: center;
}

//////VALIDATION POPIN\\\\\\\\

.acount-state{
  width: 320px!important;
  display: flex;
  justify-content:center;
  background-color: #FFA500;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

  .img-required{
    margin-top: 5px;
    margin-right: 10px;
    height: 25px;
    width: 25px;
    background:url("../../assets/images/warningWhite.png") no-repeat center / cover;
  }
}

.required-cont-gen{
  height: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-color: #69C193;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);

  .img-required-validate{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    background:url("../../assets/images/validate.png") no-repeat center / cover;
  }
  p{
    margin: 0px;
    margin-top: 2px;
  }
}

.required-input{
  background-color: #FFA500;
}

.required-cont-hide{
  position: fixed;
  bottom: -500px;
  left: 0px;
  transition:0.6s;
}

.required-cont{
  z-index: 200;
  position: fixed;
  bottom: 60px;
  left: 10px;
  transition:0.6s;
}

@media (max-width: 600px){
  .cont-input{
    margin: 5px 0;
  }
  .input-checkbox-container{
    justify-content: center;
  }
}
