// Standart Form-field
.cont-input{
  width: 50%;
  margin: 15px 0;
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 60px;

  &.full-width{
    width: 100%;
    input{
      width: 30%;
      min-width: 50px;
    }
  }

  input, select, textarea{
    position: relative;
    bottom: 0;
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(115, 159, 190, 0.85);
    color: black;
    outline: none;
    background: white;
    border-radius: 0;
    // -webkit-appearance: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  textarea{
    height: 40px;
    resize: vertical;
    word-wrap: break-word;
    overflow: visible;
  }

  input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{
    border-bottom: 1px solid red;
    color: red;
  }

  .ng-submitted {
    input.ng-invalid{
      border-bottom: 1px solid red;
      color: red;
    }
  }

  .input-label{
    position:absolute;
    top:-13px;
    left:20px;
    font-size:11px;
    color:#aaa;
    transition: all 0.1s linear;
    opacity:0;
    // font-weight:bold;
  }
  .input-label.on {
    // color:#4481C4;
    color: rgba(115, 159, 190, 0.85)
  }
  .input-label.show {
    top:-15px;
    opacity:1;
  }
}

.form-instruction{
  font-weight: bold;
}

// form sections
.section{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: $full;
  margin-bottom: 30px;

  .info-title{
    margin-bottom: 0;
    margin-bottom: 20px;
  }
  .info-title-sm{
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 15px;
  }
}
// Group of form-fields
.info-group{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: $full;
}


// Form Buttons

.input-button-container{
  display: flex;
}

.input-checkbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  label{
    margin-right: 15px;
    font-weight: 400;
  }

  input[type=checkbox]{
    width: auto;
    height: auto;
  }
}

.checkbox-container{
  display: flex;
  align-items: center;
  // flex-grow: 1;
}

.checkbox-label{
  padding-left: 5px;
}

.button-container{
  display: flex;
  width: $full;
}
.delete-button{
  background-color: #de5b49;
}

.edit-button{
  background-color: #2F3E52;
}
.edit-button, .delete-button{
  bottom: 0;
  height: 50px;
  width: 50%;
  border: none;
  color: white
}


//////VALIDATION POPIN\\\\\\\\

.required-cont-gen{
  display: flex;
  align-items:center;
  justify-content:center;
  background-color: #69C193;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);

    .img-required{
      height: 20px;
      width: 20px;
      margin-right: 5px;
      background:url("../../assets/images/validate.png") no-repeat center / cover;

    }

    p{
      margin: 0px;
      margin-top: 2px;
    }
}

.required-input{
    background-color: #FFA500;
}


.required-cont-hide{
  position: absolute;
  bottom: -500px;
  left: 0px;
  transition:0.6s;

}

.required-cont{
  bottom: 10px;
  left: 10px;
  transition:0.6s;


}
