.ProfilUser-ent{
  min-height: calc(100vh - 110px);
  background: linear-gradient( rgba(115,159,190,0.60), rgba(115,159,190,0.60)), url("../../assets/images/web-developer-salary-nyc.jpg") no-repeat center / cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: black;
  overflow: hidden;

  .cont-title-ent{
    display: flex;
    justify-content:center;
    background-color: rgba(115,159,190,0.85);
    width: 30vw;
    min-width: 420px;
    color: white;
  }

  .container-create-entreprise{
    position: relative;
    height: 600px;
    color: black;
    background-color: white;
    width: 30vw;
    min-width: 420px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;


    .section-entreprise{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: $full;
          h4{
      padding: 10px;
      text-align: center;
    }

    .cont-input-entreprise{
      width: 100%;
      display: flex;
      flex-direction:column;
      margin-top: 15px;
      padding: 0 20px;


      &.full-width{
          width: 100%;
      }

      input{
        height: 30px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(115, 159, 190, 0.85);
        color: black;
        outline: none;
      }
      
      input:invalid {
          box-shadow: none;

    }

    }

      .info-title{
            display: flex;
    	       justify-content: center;
    	       align-items: center;
    	       margin-bottom: 20px;
    	       margin-top: 0px;
    	       background-color: #2F3E52;
    	       color: white;
    	       height: 50px;
    	       width: 100%;
      }

    }




    .info-group-entreprise{
      transition-duration: 1.2s;
 	min-width: 25vw;
 	display: flex;
 	flex-direction:column;
  	justify-content: center;
 	align-items: center;
 	margin-bottom: 20px;
 	border:1px solid #6c94b4;
      margin-top: 40px;

  }

  .button-container-entreprise{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 80%;
    background-color: white;
    justify-content:center;


    .edit-button-entreprise{
      height: 40px;
      width: 30%;
      color: white;
      background-color: #de5b49;
      border: none;
    }

    .button-change-view{
      width: 80%;
      color: white;
      background-color: #2F3E52;
    }
  }
}
}

//ANIMATION CHANGE PASSWORD

    .info-group-entreprise-password{
      background-color: white;
    	transition-duration: 1.2s;
    	position: absolute;
    	top:2000px;
 	width: 400px;
 	display: flex;
 	flex-direction:column;
  	justify-content: center;
 	align-items: center;
 	margin-bottom: 20px;
 	border:1px solid #6c94b4;
      margin-left: -200px;
      left: 50%;
 }

.form-entreprise{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width: 100%;
  width: 400px;
}

	.info-password{
            background-color: white;
		transition-duration: 1.2s;
		position: absolute;
		width: 400px;
 		display: flex;
 		flex-direction:column;
  		justify-content: center;
 		align-items: center;
 		margin-bottom: 20px;
 		border:1px solid #6c94b4;
		top: 13%;
            margin-left: -200px;
            left: 50%;

	}

  .info-ent{
    transition-duration: 1s;
    opacity: 0;
  }

  //VALIDATION MESSAGE

  .invisible-message-entreprise{
    display: none;
  }

  .error-msg{
        font-size: 0.9em;
        color: red;
  }

  .visible-message-entreprise{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #69C193 ;
    color: white;


  .img-validate{
    background: url("../../assets/images/validate.png") no-repeat center / cover;
    height: 15px;
    width: 15px;
    margin-right: 5px;
  }

  p{
    margin: 0px;
    padding: 0px;
    margin-top: 2px;
  }

  }

@media screen and (max-width: 450px){

.ProfilUser{

    .info-group-entreprise-password{
    position: initial;
    margin-left: 0px;
    }

    .switch{
    display: none!important;
    }
  }
}


