body{
    -webkit-backface-visibility: hidden;
}

.ProfilUser{
  background: linear-gradient( rgba(115,159,190,0.60), rgba(115,159,190,0.60)), url("../../assets/images/web-developer-salary-nyc.jpg") no-repeat center / cover;
  background-attachment: fixed;
}

.choose-pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9;
  }

  .tab-name{
    margin: 0;
  }

  #upload-photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .form-instruction, #photos-input{
    max-width: 220px;
    margin: 5px 0;
  }
  #upload-pic {
    height: 150px;
    width: 150px;
    border: solid 2px #90c7dc;
    border-radius: 50%;
    margin: 20px;
    background-position: center;
    background-size: cover;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
      width: 100%;
      width: auto;
    }
  }
}
.global-profile-container{
  width: $full;
  max-width: 700px;
  background-color: rgba(115, 159, 190, 1);
  display: flex;
  flex-direction: column;
  color: rgb(115, 159, 190);
  position: relative;
  overflow: hidden;

  ::-webkit-input-placeholder {
    color: black;
  }

  :-moz-placeholder {
    color: black;
  }

  ::-moz-placeholder {
    color: black;
  }

  :-ms-input-placeholder {
    color: black;
  }

  .cont-input, md-input-container{
    width: 45%;
    color: black;
    flex-wrap: wrap;

    .md-input, input{
      color: black;
    }

    button.tagViewVille{
      padding: 5px 3px 3px 3px;
      margin: 0;
      margin-left: 10px;
      font-size: 1em;
    }

    input:focus, textarea:focus {
      border-bottom: 1px solid #2F3E52;
      outline: none;
    }

    &.full-width, &.calendar{
      width: 100%;
      align-items: center;
      justify-content: center;
      .error-msg{
        text-align: center;
      }
    }

    &.calendar{
      flex-direction: row;
      .ng-invalid{
        border: none;
      }
    }

    @media (max-width: 600px){
      &.contrats{
        margin: 10px 0;
      }
      &.calendar{
        margin: 10px 0 20px 0;
      }
    }
  }

  .form-instruction{
    text-align: center;
    color: rgb(115, 159, 190);
  }
}

.md-button{
  padding: 0;
}

.tab-container{
  display: flex;
  margin-top: 20px;
  .tab{
    min-height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    text-align: center;
    border: none;
    outline: none;
    .tab-name{
      font-size: 1.2em;
      font-weight: bold;
      word-wrap: break-word;
    }
  }
  .border-focus{
    // border: 1px solid rgba(115, 159, 190, 0.85);
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: white;
    color: rgb(115, 159, 190);
  }
}

.container-create{
  padding: 40px;
  background-color: white;
  width: $full;
}


// List des tags/Competences
.tags-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  .tagViewVille{
    font-size: 0.8em;
  }
}


.labelOption{
  color: rgb(126, 126, 126);
}

.container-info_perso{
  .button-container{
    justify-content: center;
    .edit-button{
      min-width: 250px;
    }
  }
}
.container-fiche{
  .edit-button, .delete-button{
    flex-grow: 1;
    display: none;
  }
  .show-input{
    display: block;
  }

  .container-create{
    padding: 40px 0 0 0;
  }
  .section{
    padding: 0 40px;
  }
}
