.ProfilUser{
  min-height: calc(100vh - 110px);
  background: linear-gradient( rgba(115,159,190,0.60), rgba(115,159,190,0.60)), url("../../assets/images/web-developer-salary-nyc.jpg") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

  .choose-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    #upload-photos{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #photos-input{
      max-width: 200px;
    }
    #upload-pic {
      height: 150px;
      width: 150px;
      border: solid 2px #90c7dc;
      border-radius: 50%;
      margin: 30px;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: 100%;
        width: auto;
      }
    }
  }

  .global-profile-container{
    width: $full;
    max-width: 700px;
  }

  .container-create{
    color: black;
    padding: 40px;
    background-color: white;
    width: $full;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .section{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: $full;
      margin-bottom: 30px;

      .info-title{
        margin-bottom: 0;
        margin-bottom: 20px;
      }
      .info-title-sm{
        align-self: flex-start;
        margin-left: 20px;
      }
    }

    .info-group-entreprise{
      display: flex;
      flex-direction:column;
      justify-content: space-around;
      margin-bottom: 20px;
    }
  }

  .cont-input{
    width: 50%;
    margin-top: 15px;
    padding: 0 20px;
    position: relative;

    &.full-width{
        width: 100%;
    }

    input, select, textarea{
      position: relative;
      height: 30px;
      width: 100%;
      border: none;
      border-bottom: 1px solid rgba(115, 159, 190, 0.85);
      color: black;
      outline: none;
      background: none;
      border-radius: 0;
    // -webkit-appearance: none;
    }
    textarea{
      height: 50px;
    }
    label{
      position: absolute;
    }
  }

  .button-container{
    display: flex;
    width: $full;
    .delete-button{
      background-color: #de5b49;
    }

    .edit-button{
      background-color: #2F3E52;
    }
    .edit-button, .delete-button{
      bottom: 0;
      height: 50px;
      width: 50%;
      border: none;
      color: white
    }
  }
}
