.ProfilUser{
  min-height: calc(100vh - 110px);
  background: linear-gradient( rgba(115,159,190,0.60), rgba(115,159,190,0.60)), url("../../assets/images/web-developer-salary-nyc.jpg") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: black;
  overflow: hidden;

  .container-create-entreprise{
    position: relative;
    height: 600px;
    color: black;
    background-color: white;
    width: 30vw;
    min-width: 420px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;


    .section-entreprise{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: $full;
          h4{
      padding: 10px;
      text-align: center;
    }

    .cont-input-entreprise{
      width: 100%;
      display: flex;
      margin-top: 15px;
      padding: 0 20px;

      &.full-width{
          width: 100%;
      }

      input, select, textarea{
        height: 30px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(115, 159, 190, 0.85);
        color: black;
        outline: none;
      }
      textarea{
        height: 50px;
      }
    }

      .info-title{
            display: flex;
    	       justify-content: center;
    	       align-items: center;
    	       margin-bottom: 20px;
    	       margin-top: 0px;
    	       background-color: #2F3E52;
    	       color: white;
    	       height: 50px;
    	       width: 100%;
      }

    }
    



    .info-group-entreprise{
      transition-duration: 1.2s;
 	min-width: 25vw;
 	display: flex;
 	flex-direction:column;
  	justify-content: center;
 	align-items: center;
 	margin-bottom: 20px;
 	border:1px solid #6c94b4;
      margin-top: 40px;
   
  }

  .button-container-entreprise{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 80%;
    background-color: white;
    justify-content:center;


    .edit-button-entreprise{
      height: 50px;
      width: 25%;
      color: white;
      background-color: #de5b49;
      border: none;
    }

    .button-change-view{
      width: 70%;
      color: white;
      background-color: #2F3E52;
    }
  }
}
}

//ANIMATION CHANGE PASSWORD

    .info-group-entreprise-password{
      background-color: white;
    	transition-duration: 1.2s;
    	position: absolute;
    	top:2000px;
 	width: 400px;
 	display: flex;
 	flex-direction:column;
  	justify-content: center;
 	align-items: center;
 	margin-bottom: 20px;
 	border:1px solid #6c94b4;
      margin-left: -200px;
      left: 50%;
 }

.form-entreprise{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width: 100%;
  width: 400px;
}

	.info-password{
            background-color: white;
		transition-duration: 1.2s;
		position: absolute;
		width: 400px;
 		display: flex;
 		flex-direction:column;
  		justify-content: center;
 		align-items: center;
 		margin-bottom: 20px;
 		border:1px solid #6c94b4;
		top: 22%;
            margin-left: -200px;
            left: 50%;

	}

  .info-ent{
    transition-duration: 1s;
    opacity: 0;
  }

  //VALIDATION MESSAGE

  .invisible-message-entreprise{
    display: none;
  }

  .visible-message-entreprise{
    text-align: center;
    width: 70%;
    border: 1px green solid;
    color: green;
    display: block;
  }
