.ProfilUser{
  min-height: calc(100vh - 110px);
  background: linear-gradient( rgba(115,159,190,0.60), rgba(115,159,190,0.60)), url("../../assets/images/web-developer-salary-nyc.jpg") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: black;

  .container-create-entreprise{
    color: black;
    padding: 40px;
    background-color: white;
    width: 35vw;
    min-width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .section-entreprise{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: $full;

      .info-title{
        margin-bottom: 0;
        margin-bottom: 20px;
      }

    }

    .info-group-entreprise{
    width: 80%;
      display: flex;
      flex-direction:column;
       justify-content: center;
    align-items: center;
      margin-bottom: 20px;
    }

    h4{
    	text-align: center;
    }

    .cont-input-entreprise{
      width: 100%;
      display: flex;
      margin-top: 15px;
      padding: 0 20px;

      &.full-width{
          width: 100%;
      }

      input, select, textarea{
        height: 30px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(115, 159, 190, 0.85);
        color: black;
        outline: none;
      }
      textarea{
        height: 50px;
      }
    }
  }

  .button-container-entreprise{
    margin-top: 40px;
    display: flex;
    width: $full;
    background-color: white;
    justify-content:center;
    .delete-button{
      background-color: #de5b49;
    }

    .edit-button-entreprise{
      background-color: #2F3E52;

    }
    .edit-button-entreprise{
      height: 50px;
      width: 30%;
      border: none;
      color: white
    }
  }
}
