.main-cont-project{
	overflow: hidden;

 	.cont-img-description {
 		position: relative;
 		display: flex;
 		justify-content:space-around;
 		align-items:center;
		background: linear-gradient(rgba(115,159,190,0.30), rgba(115,159,190,0.30)), url("../../assets/images/adopte.jpg") no-repeat center / cover;
		min-height: calc(100vh - 60px);

		.title-project{
			width:900px;
			text-align: center;
			font-weight: bold;
 			font-size: 2.6em;
			text-decoration: none;
		}


		.description-simlpon{
			background-color: #DE5B49;
 			min-height: 450px;
 			min-width: 500px;
 			width: 30%;
 			font-size: 0.8em;
 			z-index: 200;
 			

  			.corpus-description {
 				color: white;
 				margin: 50px;
 				font-size: 1.6em;
 				font-style: normal;
 				font-variant: normal;
 				font-weight: 400;
 				font-stretch: normal;
 				line-height: 35px;
 			}
  			.end-description {
 				color: white;
 				margin: 50px;
 				font-size: 1em;
 				font-style: normal;
 				font-variant: normal;
 				font-weight: 300;
 				font-stretch: normal;
 				line-height: 35px;
 			}
 		}

 		.description-simlpon-left{
 			background-color: #87adc7;
 		}
 	}

 	 .cont-img-description-simplonien{
 		background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("../../assets/images/codecamp_2015_-9.jpg") no-repeat center;
 		background-size: cover;
 		position: relative;
 	
 	}

 	.cont-img-description-simplon{
 		background: linear-gradient(rgba(115,159,190,0.3), rgba(115,159,190,0.3)), url("../../assets/images/simplonContact2.jpg") no-repeat center;
 		background-size: cover;
 		position: relative;
 	
 	}	

}

//ANIMATION

 .title-right{
 	margin-left: 40%;
 	margin-right: 6%;
 }

  .title-left{
 	margin-right: 40%;
 	margin-left: 6%;
 }

 .description-hide-left{
 	transition: all 2s;
	position: absolute;
 	left: 2000px;
 	margin-top: -275px;
            top: 50%;
            opacity: 0.2;
 }

.description-hide-right{
	transition: all 2s;
	position: absolute;
 	right: 2000px;
 	margin-top: -275px;
            top: 50%;
            opacity: 0.2;
}

// .title-show-right{
// 	transition: all 1s;
// 	right: 7%;
// 	left: 40%;
// }

.description-show-left{
 	transition: all 2s;
	left: 6%;
	margin-top: -275px;
            top: 50%;
            opacity: 1;
 }

 .description-show-rigth{
 	transition: all 2s;
	right: 6%;
	margin-top: -275px;
            top: 50%;
            opacity: 1;
 }

 .mask {
 	background-color: #DE5B49;
 	transition: all 1s;
 	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	visibility: hidden;
 	height: 0;
 	width: 100%;
 }

 .mask-is-open {
 	background-color: #DE5B49;
	transition: all 1s;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	visibility: visible;
	width: 100%;
	height: 2vh;
}

 .mask-is-open-blue {
 	background-color: #87adc7;
	transition: all 1s;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	visibility: visible;
	width: 100%;
	height: 2vh;
}

@media screen and (max-width: 1350px){
	.main-cont-project{
	overflow: hidden;

 		.cont-img-description {
			.title-project{
 				font-size: 2.2em;
			}
		}
	}
}

@media screen and (max-width: 1200px){
	.main-cont-project{

 		.cont-img-description {
 			min-height: 100%;
 			display: flex;
			flex-direction:column;
			align-items:center;
			

			.title-project{
 				width:700px;
 				margin-bottom: 50px;
			}

			.description-simlpon{
 				min-height: 300px;
 				width: 700px;
 			}
		}
	}
}



