<!DOCTYPE html>
<html lang="fr" ng-app="app">

<head>
    <!-- TITLE -->
    <title>talents.simplon.co</title>
    <!-- META -->
    <meta name="description" content="Le site talents.simplon.co permet aux entreprises d'avoir un lien direct avec les élèves de l'école Simplon en recherchent de contrat (CDD/CDI/Contrat Pro/Stage)" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <!-- FRAMEWORK ET LIBRARY -->
    <script type="text/javascript" src="assets/lib/js/lodash.js"></script>
    <script src="assets/lib/js/angular.min.js"></script>
    <script src="assets/lib/js/jquery.min.js"></script>
    <script src="assets/lib/js/bootstrap.min.js"></script>
    <script src="assets/lib/js/ui-bootstrap-tpls.js"></script>
    <script src="assets/lib/js/angular-ui-router.min.js"></script>
    <script src="assets/lib/js/angular-aria.min.js"></script>
    <script src="assets/lib/js/angular-material.min.js"></script>
    <script src="assets/lib/js/angular-animate.min.js"></script>
    <script type="text/javascript" src='assets/lib/js/moment.js'></script>
    <script type="text/javascript" src='assets/lib/js/fr.js'></script>
    <script type="text/javascript" src='assets/lib/js/angular-moment.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2HIhxJzwOMeqTQyzgzRQP3RAMlAD0By0" async defer></script>
    <!-- ASSETS -->
    <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/lib/css/angular-material.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <!-- LOGO -->
    <link rel="icon" type="image/png" href="assets/images/logoSimplon.png" />
    <!-- STYLE -->
    <link rel="stylesheet" href="app/css/style.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92332555-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>


<body>
    <!-- Desktop navbar -->
    <div class="nav-container" ng-controller="appUserCtrl">
        <!-- Menu Burger -->
        <div class="burgerMenu" ng-class="{'menu-open': burger}">
            <div id="menu-button" ng-click='burger === true ? burger = false : burger = true' role="button" title="sweet hamburger">
                <div class="hamburger">
                    <div class="inner"></div>
                </div>
            </div>
            <nav>
                <ul>
                    <li>
                        <a ng-click='burger === true ? burger = false : burger = true' ui-sref="home">Home</a>
                    </li>
                    <li>
                        <a ng-click='burger === true ? burger = false : burger = true' ui-sref="search">Nos simploniens</a>
                    </li>
                    <li>
                        <a ng-click='burger === true ? burger = false : burger = true' ui-sref="project">Qui sommes-nous?</a>
                    </li>
                    <li>
                        <a ng-click='burger === true ? burger = false : burger = true' href="https://goo.gl/forms/k2E3rFseowvH6TSW2" target="_blank">Proposer une opportunité</a>
                    </li>
                    <li>
                        <a ng-click='burger === true ? burger = false : burger = true' ui-sref="contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- NavBar classique -->
        <div class="page-container-left containerNav borderXwidth">
            <a ui-sref="home">Home</a>
            <a ui-sref="search">Nos simploniens</a>
            <a ui-sref="project">Qui sommes-nous?</a>
            <a href="https://goo.gl/forms/k2E3rFseowvH6TSW2" target="_blank">Proposer une opportunité</a>
            <a ui-sref="contact">Contact</a>
        </div>
        <a class="user-none" ui-sref="home" ng-click="logout()" ng-class="{'user-icon': showLogout}" ng-if="showLogout">
            <p>Déconnexion</p>
        </a>
        <a class="user-none" ng-class="{'user-icon': showLogout && userRole === 'Simplonien'}" ui-sref="profilUserStudent">Espace Perso</a>
        <a class="user-none" ng-class="{'user-icon': showLogout && userRole === 'Recruteur'}" ui-sref="profilUserRecruiter">Espace Perso</a>
        <a class="user-none" ng-class="{'user-icon': showLogout && (userRole === 'Admin' || userRole === 'adminMaster')}" ui-sref="admin.home">Back Office</a>
        <a class="user-none" ui-sref="login" ng-class="{'user-icon': !showLogout}">Connexion</a>
    </div>

    <main ui-view="home"></main>

    <div class="footer-container">
        <div class="footer_item-container">
            <a target="_blank" href="http://simplon.co/" class="logo"></a>
            <a target="_blank" href="https://www.facebook.com/Simplon.co/?fref=nf" class="facebook-icon"></a>
            <a target="_blank" href="https://twitter.com/simplonco" class="twiter-icon"></a>
            <a target="_blank" href="https://plus.google.com/+Simplon-co-youtube/about" class="google-icon"></a>
            <a href="mailto:talents@simplon.co" class="mail-icon"></a>
        </div>
    </div>

    <!-- REQUIREMENT -->
    <script src="app/app.js"></script>
    <script src="app/appRoute.js"></script>
    <script src="app/constant.js"></script>

    <!-- SERVICES -->
    <script src="app/js/services/interceptor.js"></script>
    <script src="app/js/services/userService.js"></script>
    <script src="app/js/services/serviceFilter.js"></script>
    <script src="app/js/services/serviceStudent.js"></script>
    <script src="app/js/services/serviceMailer.js"></script>

    <!-- DIRECTIVES -->
    <script src='../../../node_modules/checklist-model/checklist-model.js'></script>
    <script src='app/js/directives/pwCheckDirective.js'></script>

    <!-- FILTERS -->
    <script src='app/js/filters/selectFilter.js'></script>

    <!-- CONTROLLERS -->
    <script src="app/js/controllers/BO-CTRL/create-accountCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/create-cardCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/csvCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/delete-cardCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/delete-userCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/handle-filterCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/handle-promoCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/modify-cardCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/waiting-cardCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/changeAdminPassCtrl.js"></script>
    <script src="app/js/controllers/BO-CTRL/handleAdminsCtrl.js"></script>
    <script src="app/js/controllers/registerCtrl.js"></script>
    <script src="app/js/controllers/sendPassForResetCtrl.js"></script>
    <script src="app/js/controllers/resetPassCtrl.js"></script>
    <script src="app/js/controllers/app-userCtrl.js"></script>
    <script src="app/js/controllers/loginCtrl.js"></script>
    <script src="app/js/controllers/profils-userCtrl.js"></script>
    <script src="app/js/controllers/contactCtrl.js"></script>
    <script src="app/js/controllers/profilCtrl.js"></script>
    <script src="app/js/controllers/projectCtrl.js"></script>
    <script src="app/js/controllers/searchCtrl.js"></script>
    <script src="app/js/controllers/BoCtrl.js"></script>
    <script src="app/js/controllers/profilUserEntreprise.js"></script>

</body>

</html>
