<div class="container-bo">
    <div class="container-nav-bo">
        <h1>
            <a href="" ng-click="show = 7" class="effect-underline" ng-class="{'menu-active' : show === 7}">Fiches simplonien en attente</a>
        </h1>
        <h1>
            <a href="" ng-click="show = 1" class="effect-underline" ng-class="{'menu-active' : show === 1}">Créer un compte</a>
        </h1>
        <h1>
            <a href="" ng-click="show = 2" class="effect-underline" ng-class="{'menu-active' : show === 2}">Supprimer un utilisateur</a>
        </h1>
        <h1>
            <a href="" ng-click="resetStudent()" class="effect-underline" ng-class="{'menu-active' : show === 3}">Créer une fiche Simplonien</a>
        </h1>
        <h1>
            <a href="" ng-click="show = 4" class="effect-underline" ng-class="{'menu-active' : show === 4}">
                Modifier/supprimer une fiche Simplonien</a>
        </h1>
        <h1>
            <a href="" ng-click="show = 6" class="effect-underline" ng-class="{'menu-active' : show === 6}">Gerer les filtres</a>
        </h1>
        <h1>
            <a href="" ng-click="show = 8" class="effect-underline" ng-class="{'menu-active' : show === 8}">Gerer les promotions et fabriques</a>
        </h1>
    </div>
    <div class="container-interface">
        <h1 ng-if="show === 0">
            Welcome to your BackOffice Norbert!</h1>

        <div class="container-create-user" ng-show="show==1">
          <form class="create-user"  ng-submit="addStudentUser()" >
              <h2>Créer un compte étudiant</h2>
              <input type="email" id="email" class="input-BO-style" ng-model="studentAccount.email" required placeholder="Email"></input>
              <input type="text" id="nom" class="input-BO-style" value="" ng-model="studentAccount.lastName" required placeholder="Nom"></input>
              <input type="text" id="prenom" class="input-BO-style" value="" ng-model="studentAccount.firstName" required placeholder="Prenom"></input>
              <input type="password" id="mdp" class="input-BO-style" ng-model="studentAccount.password" required placeholder="Mot de passe"></input>
              <input class="create-user-button" value="Créer" type="submit">
          </form>
          <form class="create-user"  ng-submit="addRecruiterUser()" >
              <h2>Créer un compte recruteur</h2>
              <input type="email" id="email" class="input-BO-style" ng-model="recruiterAccount.email" required placeholder="Email"></input>
              <input type="text" id="company" class="input-BO-style" value="" ng-model="recruiterAccount.company" required placeholder="Entreprise"></input>
              <input type="text" id="nom" class="input-BO-style" value="" ng-model="recruiterAccount.lastName" required placeholder="Nom"></input>
              <input type="text" id="prenom" class="input-BO-style" value="" ng-model="recruiterAccount.firstName" required placeholder="Prenom"></input>
              <div class="cont-TECHNO-input">
                  <p>Maitrise principale recherchée :</p>
                  <select id="boCreatePromoSimploniens" class="input-BO-style" ng-model="recruiterAccount.technology"
                      placeholder="technology" >
                      <option class="labelOption" disabled selected value>Technologie</option>
                      <option ng-repeat="skill in skills">{{skill.name}}</option>
                  </select>
              </div>
              <input type="password" id="mdp" class="input-BO-style" ng-model="recruiterAccount.password" required placeholder="Mot de passe"></input>
              <input class="create-user-button" value="Créer" type="submit">
          </form>
        </div>


        <div class="container-delete-user" ng-show="show==2">
            <h2>Suppression d'un compte</h2>
            <input type="text" class="input-BO-style" ng-model="deleteUser" placeholder="Rechercher...">
            <div class="container-users">
                <div class="cont-info" ng-repeat="user in allUser | filter : deleteUser track by $index" ng-if="user.role !== 'Admin'">
                    <p class="cont-pseudo">{{user.firstName}}</p>
                    <p class="cont-pseudo">{{user.lastName}}</p>
                    <p class="cont-pseudo user-mail">{{user.email}}</p>
                    <p class="cont-pseudo">{{user.role}}</p>
                    <p class="cont-pseudo">{{user.technology}}</p>
                    <div class="delete-user" ng-click="removeUser(user._id)"></div>
                </div>

            </div>
        </div>

        <div class="container-create-student" ng-show="show == 3 || show == 5">
            <div class="choose-pic">
                <div id="upload-pic"></div>
                <form id="upload-photos" method="post" action="/api/upload_photos" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="photos-input" type="file" name="photos[]" multiple="multiple">
                    </div>
                    <input class="btn btn-default" type="submit" name="Photo Uploads" value="Upload Photo"/>
                </form>
                <p>Formats acceptés: jpg, png, jpeg</p>
                <p>Taille maximum: 1Mo</p>
                <p>Taille minimum: 200Ko</p>
            </div>
            <div class="section-BO">
                <h1 class="info-title">Informations</h1>
                <div class="cont-BO-input">
                    <p for="boCreateLastNameSimploniens">Nom</p>
                    <input id="boCreateLastNameSimploniens" class="input-BO-style" ng-model="student.nom" placeholder="Nom" type="text" required>
                </div>
                <div class="cont-BO-input">
                    <p for="boCreateNameSimploniens">Prénom</p>
                    <input id="boCreateNameSimploniens" class="input-BO-style" ng-model="student.prenom" placeholder="Prénom">
                </div>
                <div class="cont-BO-input">
                    <p for="boCreateOldSimploniens">Age</p>
                    <input type="number" class="input-BO-style" ng-model="student.age" placeholder="Age" required>
                </div>
                <div class="cont-BO-input">
                    <p>Sexe</p>
                    <select id="boCreateSexeSimploniens" class="input-BO-style" ng-model="student.Sexe" placeholder="Sexe">
                        <option value="" disabled>Sexe</option>
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                        <option value="Autre">Autre</option>
                    </select>
                </div>
                <div class="cont-BO-input">
                  <p>Region</p>
                  <select id="boCreatePromoSimploniens" class="input-BO-style" ng-model="student.region"
                   placeholder="Ville" required>
                    <option class="labelOption" disabled selected value>Region</option>
                    <option ng-repeat="region in regions">{{region.name}}</option>
                  </select>
                </div>
                <div class="cont-CONTRAT-input">
                  <p>Contrat(s) recherché(s)</p>
                  <div class="input-checkbox-container input-BO-style">
                    <label ng-repeat="contract in contracts">
                      <input type="checkbox" ng-click="showContracts()" checklist-model="student.Contrat" checklist-value="contract.name" ng-model="checked" checklist-before-change="student.Contrat.length > 1 || checked"> {{contract.name}}
                    </label>
                  </div>
                  <span class="error-msg" ng-show='student.contrats.$error.required'>Vous devez choisir au moins un type de contrat</span>
                </div>
                <div class="cont-BO-input">
                  <p>Promo:</p>
                  <select id="boCreatePromoSimploniens" class="input-BO-style" ng-model="student.promo" placeholder="Promo*" required>
                    <option class="labelOption" disabled selected value>Promo*</option>
                    <option ng-repeat="promo in promos">{{promo.name}}</option>
                  </select>
                </div>
                <div class="cont-BO-input">
                    <p for="boCreateMailSimploniens">E-mail</p>
                    <input id="boCreateMailSimploniens" class="input-BO-style" ng-model="student.Mail" placeholder="E-mail" required>
                </div>
                <div class="cont-BO-input">
                    <p for="boCreateGithubSimploniens">Github</p>
                    <input id="boCreateGithubSimploniens" class="input-BO-style" ng-model="student.Github" placeholder="Github" required>
                </div>
                <div class="cont-BO-input">
                    <p for="boCreateLinkedinSimploniens">Linkedin</p>
                    <input id="boCreateLinkedinSimploniens" class="input-BO-style" ng-model="student.Linkedin" placeholder="Linkedin" required>
                </div>
                <div class="cont-BO-input">
                    <p for="boCreatePortfolioSimploniens">Portfolio</p>
                    <input id="boCreatePortfolioSimploniens" class="input-BO-style" ng-model="student.Portfolio" placeholder="Portfolio">
                </div>
                <div class="cont-BO-input">
                    <p for="boCreateTwitterSimploniens">Twitter</p>
                    <input id="boCreateTwitterSimploniens" class="input-BO-style" ng-model="student.Twitter" placeholder="Twitter">
                </div>
                <div class="cont-BO-input">
                    <p for="boCreateStackOverFlowSimploniens">StackOverFlow</p>
                    <input id="boCreateStackOverFlowSimploniens" class="input-BO-style" ng-model="student.StackOverFlow" placeholder="StackOverFlow">
                </div>
            </div>

            <div class="section-BO">
                <h1 class="info-title">Profil</h1>
                <div class="cont-BO-input">
                    <p for="boCreateAboutSimploniens">Votre Description</p>
                    <textarea id="boCreateAboutSimploniens" class="input-BO-style" ng-model="student.description" placeholder="Votre Description" required>{{student.description}}</textarea>
                </div>
            </div>

            <div class="section-BO">
                <h1 class="info-title">Compétences</h1>

                <div class="info-group">
                    <div class="cont-BO-input">
                        <p>Domaine</p>
                        <select id="boCreateDomaineSimploniens" class="input-BO-style" ng-model="student.Domaine">
                            <option value="" disabled>Domaine</option>
                            <option value="Front-End">Front-End</option>
                            <option value="Back-End">Back-End</option>
                            <option value="Full-Stack">Full-Stack</option>
                        </select>
                    </div>
                    <div class="cont-BO-input">
                        <p for="boCreateCVSimploniens">Lien vers le CV</p>
                        <input id="boCreateCVSimploniens" type="url" class="input-BO-style" name="cv" placeholder="Lien vers votre CV" ng-model="student.CV" required>
                    </div>
                    <div class="cont-BO-input">
                      <p>Première spécialité:</p>
                      <select id="boCreateSpeOneSimploniens" class="input-BO-style" ng-model="student.SpecialiteUn" placeholder="1ère Spécialité*" required>
                        <option class="labelOption" disabled selected value>1ère Spécialité*</option>
                        <option ng-repeat="skill in skills" value="{{skill.name}}">{{skill.name}}</option>
                      </select>
                    </div>
                    <div class="cont-BO-input">
                      <p>Deuxième spécialité:</p>
                      <select id="boCreateSpeTwoSimploniens" class="input-BO-style" ng-model="student.SpecialiteDeux" placeholder="Spécialité*" required>
                        <option class="labelOption" disabled selected value>2e Spécialité*</option>
                        <option ng-repeat="skill in skills">{{skill.name}}</option>
                      </select>
                    </div>
                    <div class="cont-BO-input">
                      <p>Troisième spécialité:</p>
                      <select id="boCreateSpeThreeSimploniens" class="input-BO-style" ng-model="student.SpecialiteTrois" placeholder="Spécialité*" required>
                        <option class="labelOption" disabled selected value>3e Spécialité*</option>
                        <option ng-repeat="skill in skills" value="{{skill.name}}">{{skill.name}}</option>
                      </select>
                    </div>
                    <div class="cont-BO-input">
                        <p for="boCreateTagsSimploniens">Compétences</p>
                        <input id="boCreateTagsSimploniens" class="input-BO-style" name="tags" placeholder="Vos Compétences" ng-model="tag">
                        <button type="button" ng-click='addTag(tag)' name="button" class="tagViewVille">Ajouter</button>
                    </div>
                    <ul class="tags-list">
                        <li class="tagViewVille" ng-repeat='tag in student.tags track by $index'>{{tag}}
                            <span class="closeButton" ng-click='removeTag(tag)'></span>
                        </li>
                    </ul>
                </div>
                <h3 class="info-title-sm">Projets</h3>
                <div class="info-group">
                    <div class="cont-BO-input">
                        <p for="boCreateProjetOneSimploniens">Lien vers Projet 1</p>
                        <input id="boCreateProjetOneSimploniens" type="url" class="input-BO-style" ng-model="student.ProjetUn" name="projet1" placeholder="Lien vers Projet 1">
                    </div>
                    <div class="cont-BO-input">
                        <p for="boCreateProjetDeuxSimploniens">Lien vers Projet 2</p>
                        <input id="boCreateProjetDeuxSimploniens" type="url" class="input-BO-style" name="projet2" ng-model="student.ProjetDeux" placeholder="Lien vers Projet 2">
                    </div>
                    <div class="cont-BO-input">
                        <p for="boCreateProjetDeuxSimploniens">Lien vers Projet 3</p>
                        <input id="boCreateProjetTroisSimploniens" type="url" class="input-BO-style" name="projet3" ng-model="student.ProjetTrois" placeholder="Lien vers Projet 3">
                    </div>

                </div>
            </div>
            <button type="button" class="create-user-button" ng-click="createSimplonien()" ng-if="show === 3">
                <h4>Ajouter</h4>
            </button>
            <button type="button" class="create-user-button" ng-click="updateStudent(student._id)" ng-if="show === 5">
                <h4>Modifier</h4>
            </button>
        </div>

        <div class="container-delete-user" ng-show="show==7">
            <h2>Fiche simplonien en attente de validation</h2>
            <div class="container-users">
                <div class="cont-info" ng-repeat="simplonien in simploniens" ng-if="simplonien.verified === false">
                    <p ng-if="simplonien.nom !== '' " class="cont-pseudo">{{simplonien.nom}}</p>
                    <p ng-if="simplonien.nom !== '' " class="cont-pseudo">{{simplonien.prenom}}</p>
                    <p ng-if="simplonien.nom !== '' " class="cont-pseudo">{{simplonien.promo}}</p>
                    <button ng-if="simplonien.nom !== '' " class="modify" ng-click="acceptSimplonien(simplonien._id)">Accepter</button>
                    <button ng-if="simplonien.nom !== '' " class="modify" ng-click="deleteStudent(simplonien._id)">Refuser</button>
                </div>
            </div>
        </div>

        <div class="container-delete-user" ng-show="show==4">
            <h2>Supprimer une fiche d'un Simplonien</h2>
            <input type="text" class="input-BO-style" ng-model="removeFilter" placeholder="Rechercher...">
            <div class="container-users">
                <div class="cont-info" ng-repeat="simplonien in simploniens | filter: removeFilter" ng-if="simplonien.verified === true">
                    <p ng-if="simplonien.nom !== '' " class="cont-pseudo">{{simplonien.nom}}</p>
                    <p ng-if="simplonien.nom !== '' " class="cont-pseudo">{{simplonien.prenom}}</p>
                    <p ng-if="simplonien.nom !== '' " class="cont-pseudo">{{simplonien.promo}}</p>
                    <div class="student-actions">
                      <button ng-if="simplonien.nom !== '' " class="modify" ng-click="showOneStudent(simplonien._id)">Modifier</button>
                      <div ng-if="simplonien.nom !== '' " class="delete-user" ng-click="deleteStudent(simplonien._id)" confirm="Are you sure ?"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="handle-filter" ng-show="show==6">
          <div class="filter-card">
              <h1>Regions</h1>
              <div class="input-add">
              <input type="text" id="input" value="" ng-model="region.name" placeholder="Region..." class="input-FILTER-style"></input>
              <button type="button" class="delete-filter-button" ng-click="addRegion()">
                  <h4>Ajouter</h4>
              </button>
            </div>
              <div ng-repeat="region in regions" class="filter-name">
                  <p>{{region.name}}</p>
                  <div class="delete-user" ng-click="removeRegion(region._id)"></div>
              </div>
          </div>

            <div class="filter-card">
                <h1>Skills</h1>
                <div class="input-add">
                <input type="text" id="input" value="" ng-model="skill.name" placeholder="Skill..." class="input-FILTER-style"></input>
                <button type="button" class="delete-filter-button" ng-click="addSkill()">
                    <h4>Ajouter</h4>
                </button>
              </div>
                <div ng-repeat="skill in skills" class="filter-name">
                    <p>{{skill.name}}</p>
                    <div class="delete-user" ng-click="removeSkill(skill._id)"></div>
                </div>
            </div>

            <div class="filter-card">
                <h1>Contrats</h1>
                <div class="input-add">
                <input type="text" id="input" value="" ng-model="contract.name" placeholder="Contract..." class="input-FILTER-style"></input>
                <button type="button" class="delete-filter-button" ng-click="addContract()">
                    <h4>Ajouter</h4>
                </button>
              </div>
                <div ng-repeat="contract in contracts" class="filter-name">
                    <p>{{contract.name}}</p>
                    <div class="delete-user" ng-click="removeContract(contract._id)"></div>
                </div>
            </div>
        </div>
        <div class="handle-filter" ng-show="show==8">
            <div class="promo-card">
                <h1>Promotions</h1>
                <div class="input-add">
                <input type="text" id="input" value="" ng-model="promo.name" placeholder="Promo..." class="input-FILTER-style"></input>
                <button type="button" class="delete-filter-button" ng-click="addPromo()">
                    <h4>Ajouter</h4>
                </button>
              </div>
                <div ng-repeat="promo in promos" class="filter-name">
                    <p>{{promo.name}}</p>
                    <div class="delete-user" ng-click="removePromo(promo._id)"></div>
                </div>
            </div>
            <div class="promo-card">
                <h1>Fabriques</h1>
                <div class="input-add-school">
                  <input type="text" id="input" value="" ng-model="school.name" placeholder="Ville..." class="input-FILTER-style input-FILTER-style-school"></input>
                  <input type="text" id="input" value="" ng-model="school.adress" placeholder="Adresse..." class="input-FILTER-style input-FILTER-style-school"></input>
                  <input type="text" id="input" value="" ng-model="school.latitude" placeholder="Latitude..." class="input-FILTER-style input-FILTER-style-school"></input>
                  <input type="text" id="input" value="" ng-model="school.longitude" placeholder="Longitude..." class="input-FILTER-style input-FILTER-style-school"></input>
                  <a target="_blank" href="http://www.coordonnees-gps.fr/">Pour les coordonnées GPS</a>
                  <input type="text" id="input" value="" ng-model="school.website" placeholder="Site..." class="input-FILTER-style input-FILTER-style-school"></input>
                  <button type="button" class="delete-filter-button" ng-click="addSchool()">
                      <h4>Ajouter</h4>
                  </button>
                </div>
                <div ng-repeat="school in schools" class="filter-name">
                    <p>{{school.name}}</p>
                    <div class="delete-user" ng-click="removeSchool(school._id)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
