<div class="contactPage">
  <div class="contactContainer">
    <div class="contact-form">
      <h1>Une question, une suggestion, un doute ?</h1>
      <h1>C’est par ici !</h1>
      <form name="contactForm" ng-submit="contactForm.$valid && sendMail()" novalidate>
        <md-input-container>
          <label>Nom/Prenom</label>
          <input ng-model="mail.name" name="nom" required>
        </md-input-container>
        <md-input-container>
          <label>Entreprise</label>
          <input ng-model="mail.entreprise" type="text" name="entreprise" required>
        </md-input-container>
        <md-input-container>
          <label>Ville</label>
          <input ng-model="mail.city" type="text" name="ville" required>
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input ng-model="mail.sender" type="email" name="email" required>
          <span class="error-msg" ng-show='contactForm.email.$error.email'>Cette adresse E-mail n'est pas valide</span>
        </md-input-container>
        <md-input-container>
          <label>Telephone</label>
          <input ng-model="mail.phone" type="number" maxlength="14" required>
          <span class="error-msg" ng-show='contactForm.phone.$error.number'>Ce numéro de téléphone n'est pas valide</span>
        </md-input-container>
        <div class="text-form">
          <md-input-container class="md-block">
            <label>Message</label>
            <textarea ng-model="mail.content" md-maxlength="300" rows="4" md-select-on-focus required></textarea>
          </md-input-container>
        </div>
        <span class="error-msg" ng-show='contactForm.$submitted && contactForm.$invalid'>Tous les champs sont requis</span>
        <input type="submit" name="submit" value="ENVOYER" class="submit-button" />
      </form>
    </div>

    <div class="required-cont-gen required-cont-hide" ng-class="{'required-cont':!sendForm}">
      <div class="img-required-validate"></div>
      <p class="required">Message envoyé !</p>
    </div>
    <div class="mapContact">
      <div id="googleMap"></div>
    </div>
  </div>
</div>
