<div class="home-container">
    <div class="main-container">
        <h1 class="main-title"> Recrutez les talents made in Simplon.co !</h1>
        <h1 class="main-text"> Développeur.se.s web & logiciel, intégrateur.rice.s web, référents numériques, datartisans, e-commerçants...
            nos simplonien.ne.s sont opérationnel.le.s et à la recherche de contrats de
            professionnalisation, stages, CDD/CDI, missions freelance...</h1>
            <div class="home-button-box">
        <a ui-sref="search" class="red-button">
            <i class="fa fa-chevron-right chevron" aria-hidden="true"></i>
            <p>Découvrez leurs profils !</p>
        </a>
<!--         <a href="https://goo.gl/forms/k2E3rFseowvH6TSW2" target="_blank" class="red-button">
            <i class="fa fa-chevron-right chevron" aria-hidden="true"></i>
            <p>Proposez une opportunité !</p>
        </a> -->
      </div>
    </div>
</div>
