<div class="login-container" ng-style="CustomStyle">
  <div class="cont-form-login">
    <div class="cont-title-inscription"></div>
    <div class="cont-login">
      <div class="cont-title-login">
        <h1 class="title-login">Connexion</h1>
      </div>
      <div class="left-co-login"></div>
    </div>
    <form novalidate name="loginForm" ng-submit="loginForm.$valid && login()" >
      <div class="cont-input">
        <input class="input-mail" type="email" placeholder="Email" ng-model="user.email" name="loginEmail" required>
      </div>
      <div class="cont-input">
        <input class="input-password" type="password" placeholder="Mot de passe" ng-model="user.password" name="loginPassword" required>
      </div>
      <span class="match" ng-show="!verifLogin">Email ou mot de passe non valide.</span>
      <span class="match" ng-show=' loginForm.$submitted && loginForm.$invalid'>
        Tous les champs sont requis
      </span>
      <div class='content login cont-input-login'>
          <input class="sendLogin"  type="submit" value="Connexion" >
      </div>
    </form>
    <div class="redirect-login">
      <a ui-sref="signup">Pas encore inscris ?</a>
      <a ui-sref="sendPass">Mot de passe oublié ?</a>
    </div>
  </div>
  <div class="required-cont-hide long acount-state" ng-class="{'required-cont':!acountState}">
    <div class="img-required"></div>
    <p class="required long" >Merci de valider votre compte en cliquant sur le lien envoyé par mail.</p>
  </div>
  <div class="required-cont-gen required-cont-hide" ng-class="{'required-cont': emailVerified}">
    <div class="img-required-validate"></div>
    <p class="required" >Votre compte a été validé!</p>
  </div>
</div>
