<div class="ProfilUser">
  <div class="global-profile-container-entreprise">
    <div class="container-create-entreprise">
      <!-- User Info Section -->
      <div class="section-entreprise">
        <h2>Entreprise : {{member.company}}</h2>
        <div class="info-group-entreprise" ng-class="{'info-ent':!anime}">
        <h4 class="info-title">Modifier mes informations personnelles</h4>
        <form class="form-entreprise" ng-submit='updateUser(member._id)'>
          <div class="cont-input-entreprise">
            <input id="" class="input-style" ng-model="member.company" placeholder="Entreprise" type="text" required>
          </div>
          <div class="cont-input-entreprise">
            <input id="" class="input-style" ng-model="member.firstName" placeholder="Nom" type="text" required>
          </div>
          <div class="cont-input-entreprise">
            <input id="" class="input-style" ng-model="member.lastName" placeholder="Prénom" type="text" required>
          </div>
          <div class="cont-input-entreprise">
            <input id="" class="input-style" ng-model="member.email" placeholder="Email" type="email" required>
          </div>
          <div class="button-container-entreprise">
            <input class="input-style edit-button-entreprise" value="Modifier" type="submit">
          </div>
          </form novalidate>
        </div>
        <div class="invisible-message-entreprise" ng-class="{'visible-message-entreprise':!validate}">
              Vos informations ont bien été modifiées !
          </div>
        <div class="info-group-entreprise-password"  ng-class="{'info-password':!anime}">
          <h4 class="info-title">Changer de mot de passe</h4>

          <!-- MDP FORM -->

          <form class="form-entreprise" name="formMdp">

          <!-- OLD PASSWORD -->
          <div class="cont-input-entreprise">
            <input ng-click="oldPassVerif = true; validate=true" class="input-style" type="password" ng-model="newPassword.oldpass"  placeholder="Ancien mot de passe" type="password" required>
            <p class="error-msg" ng-show="!oldPassVerif">
              Mot de passe actuel invalide.
            </p>
          </div>

          <!-- NEW PASSWORD -->
        <div class="cont-input-entreprise">
          <input class="input-style" type="password" ng-model="newPassword.newpass"  placeholder="Nouveau mot de passe" required name="password" ng-minlength="8">
        </div>

        <!-- VALIDATION NEW PASSWORD -->
        <div class="cont-input-entreprise">
          <input class="input-style" type="password" ng-model= "passwordChecked" placeholder="Confirmation du nouveau mot de passe" required>
          <p class="error-msg" ng-hide="newPassword.newpass.length<1" ng-show="newPassword.newpass != passwordChecked || passwordChecked.length<8">Les mots de passe doivent être identiques et de 8 caractères minimum.</p>
        </div>
        <div class="button-container-entreprise">
            <input class="input-style edit-button-entreprise" value="Modifier" type="submit" ng-click="updateUserPass(member._id, newPassword)">
          </div>
          </form>
      </div>
    </div>
    <div class="button-container-entreprise switch" >
            <input class="input-style edit-button-entreprise button-change-view" name="mdp"  value="Gérer mon mot de passe" type="submit" ng-click='changeView()'>
        </div>

  </div>
</div>
</div>
