<div class="ProfilUser">
  <div class="global-profile-container">
    <div class="container-create-entreprise">

      <!-- User Info Section -->
      <div class="section">
        <h1 class="info-title">Entreprise : Name</h1>
        <div class="info-group-entreprise">
          <div class="cont-input-entreprise">
            <input id="" class="input-style" ng-model="member.company" placeholder="Entreprise" type="" required>
          </div>
          <div class="cont-input-entreprise">
            <input id="" class="input-style" ng-model="member.firstName" placeholder="Nom" required>
          </div>
          <div class="cont-input-entreprise">
            <input id="" class="input-style" ng-model="member.lastName" placeholder="Prénom" required>
          </div>
          <div class="cont-input-entreprise">
            <input id="" class="input-style" ng-model="member.email" placeholder="Email" required>
          </div>
      </div>

    </div>
  </div>
  <!-- Submit Buttons -->

    <div class="button-container-entreprise">
      <input class="input-style edit-button-entreprise" ng-show="!student" value="Modifier" type="submit" ng-click='updateUser(member._id)'>
    </div>

    <div class="">
      <div class="cont-input-entreprise">
        <input id="" class="input-style"  placeholder="Ancien mot de passe" required>
      </div>
    <div class="cont-input-entreprise">
      <input id="" class="input-style" ng-model= "newPassword.oldpass"  placeholder="Nouveau mot de passe" required>
    </div>
    <div class="cont-input-entreprise">
      <input id="" class="input-style" ng-model= "newPassword.newpass"  placeholder="Confirmation du nouveau mot de passe" required>
    </div>
    <input type="button" ng-click="updateUserPass(member._id, newPassword)" value="GOGOGO">
    </div>
  </div>
</div>
