<div class="main-container-profil" ng-controller="profilCtrl">
    <div class="conatiner-left-profil"></div>
    <div class="container-middle-profil">
        <div class="profil-pic"><img src="./assets/images/student/{{student.photo}}"></div>
        <h2>{{student.prenom}}
            {{student.nom}}</h2>
        <p class="spe">{{student.Domaine}}</p>
        <p class="age">{{student.age}}
            ans</p>
        <div class="line"></div>
        <p class="comp">#{{student.SpecialiteUn}}
            #{{student.SpecialiteDeux}}
            #{{student.SpecialiteTrois}}</p>
        <div class="container-social">
            <a ng-href="{{student.Github}}" target="_blank">
                <div class="github"></div>
            </a>
            <a ng-href="{{student.CV}}" target="_blank">
                <div class="cv"></div>
            </a>
            <a ng-href="{{student.Linkedin}}" target="_blank">
                <div class="linkedin"></div>
            </a>
        </div>
        <p class="description">{{student.description}}</p>
        <div class="line"></div>
        <div class="main-cont-tags">
            <div class="cont-tags">
                <h4 class="title-comp">Compétences</h4>
                <div class="tags-box">
                  <p ng-repeat = "tag in student.tags track by $index"> {{tag}}, </p>
                </div>
            </div>
        </div>
        <h4 class="projects" ng-if="student.ProjetUn || student.ProjetDeux || student.ProjetTrois">Projets</h4>
        <div class="cont-project">
            <a ng-if="student.ProjetUn" ng-href="{{student.ProjetUn}}" target="_blank"><div class="project"></div></a>
            <a ng-if="student.ProjetDeux" ng-href="{{student.ProjetDeux}}" target="_blank"><div class="project"></div></a>
            <a ng-if="student.ProjetTrois" ng-href="{{student.ProjetTrois}}" target="_blank"><div class="project"></div></a>
        </div>
        <button data-toggle="modal" data-target="#contactDirect" ng-if="memberInfo.role !== 'Simplonien'">Contacter
            {{student.prenom}}</button>
    </div>
    <div class="container-right-profil" ng-style="{'background-image':'url(./assets/images/student/'+student.photo+')'}">
        <div class="linear"></div>
    </div>

    <div class="modal fade" id='contactDirect' tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="contactStudent">
                    <div class="logbox logBoxStyle" ng-if="contactStud === 1">
                        <form class="signup" ng-submit="sendMail()" name="form">
                            <div class="profilPicMail" ng-style="{'background-image':'url(./assets/images/student/'+student.photo+')'}"></div>
                            <h1>Ecrire à
                                {{student.prenom}}
                                {{student.nom}}
                            </h1>
                            <textarea name="name" ng-model="dataMail.content" class="textAreaMail" rows="8" cols="40" placeholder="Ecrivez votre message ici..." required></textarea>
                            <input type="submit" name="name" value="Envoyer!">
                            <div class="required-cont-gen" ng-show="!sendMess">
                                <div class="img-required-validate"></div>
                                <p class="required" >Message envoyé !</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
