<div class="main-container-profil" ng-controller="profilCtrl">
    <div class="conatiner-left-profil"></div>
    <div class="container-middle-profil">
        <div class="profil-pic"><img src="./assets/images/{{student.photo}}"></div>
        <h2>{{student.prenom}}
            {{student.nom}}</h2>
        <p class="spe">{{student.Domaine}}</p>
        <p class="age">{{student.age}}
            ans</p>
        <div class="line"></div>
        <p class="comp">#{{student.SpecialiteUn}}
            #{{student.SpecialiteDeux}}
            #{{student.SpecialiteTrois}}</p>
        <div class="container-social">
            <a ng-href="{{student.Github}}">
                <div class="github"></div>
            </a>
            <a ng-href="{{student.CV}}">
                <div class="cv"></div>
            </a>
            <a ng-href="{{student.Linkedin}}">
                <div class="linkedin"></div>
            </a>
        </div>
        <p class="description">{{student.description}}</p>
        <div class="line"></div>
        <div class="main-cont-tags">
            <div class="cont-tags">
                <h4 class="title-comp">Compétences</h4>
                <p>{{student.tags}}</p>
            </div>
        </div>
        <h4 class="projects">Projets</h4>
        <div class="cont-project">
            <a ng-href="{{student.ProjetUn}}"><div class="project"></div></a>
            <a ng-href="{{student.ProjetDeux}}"><div class="project"></div></a>
            <a ng-href="{{student.ProjetTrois}}"><div class="project"></div></a>
        </div>
        <button data-toggle="modal" data-target="#contactDirect">Contacter
            {{student.prenom}}</button>
    </div>
    <div class="container-right-profil" ng-style="{'background-image':'url(./assets/images/'+student.photo+')'}">
        <div class="linear"></div>
    </div>

    <div class="modal fade" id='contactDirect' tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="contactStudent">
                    <div class="logbox logBoxStyle" ng-if="contactStud === 1">
                        <form class="signup" ng-submit="sendMail()" name="form">
                            <div class="profilPicMail" ng-style="{'background-image':'url(./assets/images/'+student.photo+')'}"></div>
                            <h1>Ecrire à
                                {{student.prenom}}
                                {{student.nom}}</h1>
                            <p ng-if="verifChamps === true">Veuillez remplir tous les champs...</p>
                            <input class="inputMail" ng-model="dataMail.sender" type="email" name="email" placeholder="Votre email...">
                            <textarea name="name" ng-model="dataMail.content" class="textAreaMail" rows="8" cols="40" placeholder="Ecrivez votre message ici..."></textarea>
                            <input type="submit" name="name" value="Envoyer!">
                        </form>
                    </div>
                    <div class="logbox confirmContact" ng-if="contactStud === 2">
                        <p>
                            Message envoyé!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
