<div class="main-cont-project">
	<div class="mask" ng-class="{'mask-is-open': !showTitle}">
	</div>
	<div class="cont-img-description">
		<h2 class="title-project">Adopte un Simplonien : une plateforme faite <a ng-click="setFlip()">par les Simploniens</a> pour les Simploniens</h2>
		<div class="flip-cont-description" id="flip-toggle">
			<div class="flip-description">
				<div class="flip-description-simplon">
					<p class="corpus-description">
							Adopte un Simplonien est une plateforme réalisée pour permettre aux recruteurs de sélectionner au mieux les talents de la fabrique Simplon.co.
							Elle aura vu le jour grâce à l'immense talent et la pugnacité dont ont su faire preuve les élève de Simplon.</p>
					<p class="end-description top">FABRIQUE DE TALENTS 3.0</p>
				</div>
				<div class="flip-description-simplon-back">
						<div class="cont-linkedin">
							<h5>Ils ont développé cette plateforme :</h5>
							<a href="https://fr.linkedin.com/in/yacinechibanedejesus/fr" target="_blank">Yacine Chibane-De Jésus</a>
							<a href="https://fr.linkedin.com/in/kevin-le-scouarnec-70aa76b0" target="_blank">Kevin Le Scouarnec</a>
<!-- 						</div>
						<div class="cont-linkedin"> -->
							<a href="https://fr.linkedin.com/in/mathieu-larrieu-b18447a4" target="_blank">Mathieu Larrieu</a>
							<a href="https://fr.linkedin.com/in/mathieu-larrieu-b18447a4" target="_blank">Jean Andreani</a>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mask" ng-class="{'mask-is-open-blue': !showTitle}">
	</div>
	<div class="cont-img-description cont-middle-size cont-img-description-simplonien">
		<div id="simplonien" class="description-simplon description-simplon-left description-hide-left" ng-class="{'description-show-left':!showTitle}">
			<p class="corpus-description">
					A Simplon les élèves sont dès les premiers jours mis à rude épreuve. On leur apprend rapidement à devenir des autodidactes confirmés et à développer leur curiosité numérique, technique et visuelle. Les challenges, projets et défits vont rythmer les 6 mois d'aprentissage intensifs pour leur permettre de devenir des développeurs juniors complets et employables.</p>
			<p class="end-description">FABRIQUE DE TALENTS 3.0</p>
		</div>
		<div class="cont-title title-right" >
			<h2 class="title-project">Qu'est ce qu'un Simplonien ?</h2>
		</div>
	</div>
	<div class="mask" ng-class="{'mask-is-open': !showSimplon}">
	</div>
	<div id="simplon" class="cont-img-description cont-middle-size cont-img-description-simplon">
		<div  class="cont-title title-left" >
			<h2 class="title-project">Qu'est ce que Simplon.co ?</h2>
		</div>
		<div class="description-simplon description-hide-right" ng-class="{'description-show-rigth':!showSimplon}">
			<p class="corpus-description">
					Simplon.co est une entreprise de l’économie sociale et solidaire (agrément ESUS) : ses formations sont qualifiantes ou certifiantes, certaines sont labellisées Grande Ecole du Numérique, mais toutes sont ouvertes sur critères sociaux sans aucun pré-requis technique (débutants acceptés) mais il est obligatoire d’avoir une très forte MOTIVATION, une appétence pour le numérique et d’aimer travailler en équipe !</p>
			<p class="end-description">FABRIQUE DE TALENTS 3.0</p>
		</div>
	</div>
	<div class="mask" ng-class="{'mask-is-open-blue': !descriptionFour}">
	</div>
	<div class="cont-img-description cont-middle-size cont-img-description-simplonien">
		<div id="simplonien" class="description-simplon description-simplon-left description-hide-left" ng-class="{'description-show-left':!descriptionFour}">
			<p class="corpus-description">
					A Simplon les élèves sont dès les premiers jours mis à rude épreuve. On leur apprend rapidement à devenir des autodidactes confirmés et à développer leur curiosité numérique, technique et visuelle. Les challenges, projets et défits vont rythmer les 6 mois d'aprentissage intensifs pour leur permettre de devenir des développeurs juniors complets et employables.</p>
			<p class="end-description">FABRIQUE DE TALENTS 3.0</p>
		</div>
		<div class="cont-title title-right" >
			<h2 class="title-project">Qu'est ce qu'un Simplonien ?</h2>
		</div>
	</div>
	<div class="mask" ng-class="{'mask-is-open': !descriptionFive}">
	</div>
	<div id="simplon" class="cont-img-description cont-last-size cont-img-description-simplon">
		<div  class="cont-title title-left" >
			<h2 class="title-project">Qu'est ce que Simplon.co ?</h2>
		</div>
		<div class="description-simplon description-hide-right" ng-class="{'description-show-rigth':!descriptionFive}">
			<p class="corpus-description">
					Simplon.co est une entreprise de l’économie sociale et solidaire (agrément ESUS) : ses formations sont qualifiantes ou certifiantes, certaines sont labellisées Grande Ecole du Numérique, mais toutes sont ouvertes sur critères sociaux sans aucun pré-requis technique (débutants acceptés) mais il est obligatoire d’avoir une très forte MOTIVATION, une appétence pour le numérique et d’aimer travailler en équipe !</p>
			<p class="end-description">FABRIQUE DE TALENTS 3.0</p>
		</div>
	</div>
</div>
