<div class="main-cont-project">
	<div class="mask" ng-class="{'mask-is-open': !showTitle}">
	</div>
	<div class="cont-img-description cont-top-size">
		<h2 class="title-project title-top">Simplon.co KEZAKO?</h2>
		<div class="flip-cont-description" id="flip-toggle">
			<div class="flip-description">
				<div class="flip-description-simplon">
					<p class="corpus-description">
						Entreprise de l’économie sociale et solidaire (agrément ESUS), Simplon.co est un réseau de
						« fabriques » (écoles) qui propose des formations gratuites pour les apprenant.e.s et
						intensives pour devenir développeur.se de sites web et d’applications mobiles,
						intégrateur.trice, référent numérique, datartisan, e-commerçant...</p>
					<p class="end-description top">FABRIQUE DE TALENTS 3.0</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mask" ng-class="{'mask-is-open-blue': !showTitle}">
	</div>
	<div class="cont-img-description cont-middle-size cont-img-description-simplonien">
		<div id="simplonien" class="description-simplon description-simplon-left description-hide-left" ng-class="{'description-show-left':!showTitle}">
			<p class="corpus-description">
				Nos formations sont qualifiantes ou certifiantes, s’adressent prioritairement aux personnes
				éloignées de l’emploi (jeunes de moins de 25 ans, peu ou pas diplômées, issues des
				quartiers populaires et des milieux ruraux, demandeur.se.s d’emplois de longue durée,
				seniors, personnes en situation de handicap, personnes réfugiées), avec un objectif de parité
				homme femme.</p>
			<p class="end-description">FABRIQUE DE TALENTS 3.0</p>
		</div>
		<div class="cont-title title-right" >
			<h2 class="title-project">Nos formations</h2>
		</div>
	</div>
	<div class="mask" ng-class="{'mask-is-open': !showSimplon}">
	</div>
	<div id="simplon" class="cont-img-description cont-middle-size cont-img-description-simplon">
		<div  class="cont-title title-left" >
			<h2 class="title-project">Les Simplonien.ne.s</h2>
		</div>
		<div class="description-simplon description-hide-right" ng-class="{'description-show-right':!showSimplon}">
			<p class="corpus-description">
				Les simplonnien.ne.s sont recrutés pour leur motivation et leur talent et sont des « débutants
				à fort potentiel », très opérationnels. Ils ont appris à apprendre et ont appris l’autonomie et
				les bonnes pratiques des métiers du numérique (agilité, TDD et Git...)</p>
			<p class="end-description">FABRIQUE DE TALENTS 3.0</p>
		</div>
	</div>
	<div class="mask" ng-class="{'mask-is-open-blue': !descriptionFour}">
	</div>
	<div class="cont-img-description cont-middle-size cont-img-description-simplonien cont-img-simplonien">
		<div id="simplonien" class="description-simplon description-simplon-left description-hide-left" ng-class="{'description-show-left':!descriptionFour}">
			<p class="corpus-description corpus-light">
				Opérationnel.le.s : avec une formation tournée vers la pratique, souvent plusieurs
				hackathons dans les pattes, les simplonien.ne.s sont des practicien.ne.s du code et
				non des théoricien.ne.s <br />
				Autonomes : apprendre à apprendre est leur logiciel, aller chercher l’info là où elle se
				trouve est leur quotidien, cela permet des montées en compétence rapides.<br />
				Capacité forte à travailler en équipe : force de proposition, savoir-faire adhérer, des
				profils différents dans les équipes de dév</p>
			<p class="end-description">FABRIQUE DE TALENTS 3.0</p>
		</div>
		<div class="cont-title title-right" >
			<h2 class="title-project">Les profils</h2>
		</div>
	</div>
	<div class="mask" ng-class="{'mask-is-open': !descriptionFive}">
	</div>
	<div id="simplon" class="cont-img-description cont-last-size cont-img-description-simplon cont-img-project-team">
		<div  class="cont-title title-left" >
			<h2 class="title-project">L'équipe projet</h2>
		</div>
		<div class="description-simplon description-hide-right" ng-class="{'description-show-right':!descriptionFive}">
			<p class="corpus-description">
					Simplon.co est une entreprise de l’économie sociale et solidaire (agrément ESUS) : ses formations sont qualifiantes ou certifiantes, certaines sont labellisées Grande Ecole du Numérique, mais toutes sont ouvertes sur critères sociaux sans aucun pré-requis technique (débutants acceptés) mais il est obligatoire d’avoir une très forte MOTIVATION, une appétence pour le numérique et d’aimer travailler en équipe !</p>
			<p class="end-description">FABRIQUE DE TALENTS 3.0</p>
		</div>
	</div>
</div>