<div class="searchPage">
    <div class="searchBar">

        <!-- FILTER ON THE LEFT -->
        <div class="filterMain">
            <form class="inputForm">
                <div class="searchImage"></div>
                <input ng-keyup="filterInput()" ng-model="searchStudent" placeholder="Nom, langage, ville...">
            </form>
            <div class="flex">
                <div class="filterChoice">
                    <div class="filterTheme">
                        <div ng-repeat="theme in themes track by $index" ng-click="changeState(theme)" ng-class="{'promo': ($index === 0), 'langage': ($index === 1), 'contrat': ($index === 2)}">
                            <div ng-show="theme.active" class="triangle"></div>
                        </div>
                        <div class="gradient"></div>
                    </div>
                </div>
                <div class="filterRight">
                    <div class="filter filter-place" ng-if="themes[0].active === true">

                        <input ng-click="changeFilterRegion()" ng-model="schoolData" type="button" value="{{region.name}}" name="button" ng-repeat="region in regions" ng-class="{'buttonFilterOff': !region.active, 'buttonFilterOn' : region.active}">
                        <p>Bientôt d'autres regions disponibles</p>

                    </div>

                    <div class="filter filter-dev" ng-if="themes[1].active === true">

                        <input
                            type="button"
                            value="{{skill.name}}"
                            name="button"
                            ng-repeat="skill in skills"
                            ng-click="changeFilter(searchResult.Langage, searchResult.maxLangage, skill)"
                            ng-class="{'buttonFilterOff': !skill.active, 'buttonFilterOn' : skill.active}">

                    </div>

                    <div class="filter filter-contract" ng-if="themes[2].active === true">

                        <input
                            type="button"
                            value="{{contract.name}}"
                            name="button"
                            ng-repeat="contract in contracts"
                            ng-click="changeFilter(searchResult.Contrat, searchResult.maxContrat, contract)"
                            ng-class="{'buttonFilterOff': !contract.active, 'buttonFilterOn' : contract.active}">

                    </div>

                </div>
            </div>
        </div>

        <!-- PARTIE AVEC LES CARTES (DROITE) -->
        <div class="cardPage ">

            <!-- TABLEAU DE BORD (AFFICHAGE DES TAGS) -->
            <div class="tagSearch">
                <p ng-if="searchResult.Region.length === 0 && searchResult.Langage.length === 0 && searchResult.Contrat.length === 0">
                    Aucun filtre sélectionné...
                </p>
                <div class="tagViewVille" ng-if="searchResult.Region.length > 0">
                    {{searchResult.Region}}
                    <div class="closeButton" ng-click="deleteSchoolTag()"></div>
                </div>
                <div class="tagViewLang" ng-repeat="lang in searchResult.Langage">
                    {{lang}}
                    <div class="closeButton" ng-click="deleteTag(searchResult.Langage, lang, skills)"></div>
                </div>
                <div class="tagViewCont" ng-repeat="cont in searchResult.Contrat">
                    {{cont}}
                    <div class="closeButton" ng-click="deleteTag(searchResult.Contrat, cont, contracts)"></div>
                </div>
            </div>
            <div class="cont-loading" ng-show="loading">
                <div class="loading"></div>
            </div>
            <div class="position-error-mess" ng-if="data.length === 0">
                <p class="null" ng-class="{'delay': (data.length === 0)}" ng-show="!loading">
                    Aucun simplonien ne correspond a vos critères...
                </p>
            </div>

            <!-- CARD -->
            <a class="card" ui-sref="profil({student: student._id})" ng-repeat="student in data" ng-if="student.verified === true">
                <div class="topCard">
                    <div class="studentPic" ng-style="{'background-image':'url(./assets/images/'+student.photo+')'}"><!-- <img src="assets/images/{{student.photo}}"/> --></div>
                    <h3>{{student.prenom}} {{student.nom}}</h3>
                    <p>
                        {{student.ville}}</p>
                    <strong>Recherche:</strong>
                      <div class="contract-box">
                        <div class="contract-box" ng-repeat="cont in student.Contrat track by $index"> <p class="pad-style" ng-if="$index > 0">/</p><p>{{cont}}</p></div>
                      </div>
                </div>
                <div class="botCard">
                    <p>#{{student.SpecialiteUn}}</p>
                    <p>#{{student.SpecialiteDeux}}</p>
                    <p>#{{student.SpecialiteTrois}}</p>
                </div>
            </a>

        </div>
    </div>
</div>
