<div class="loginSignup" ng-style="CustomStyle">
  <div class="cont-form">
    <div class="cont-title-inscription"></div>
    <div class="cont-button">
      <button class="recruteur-button" ng-click="SetStyle('Recruteur')" ng-class="{'button-focus-right': borderClass, 'border-bottom-focus': !borderClass}">
        <h4>Inscription Recruteur</h4>
      </button>
      <button class="simplonien-button" ng-click="SetStyle('Simplonien')" ng-class="{'button-focus-left':!borderClass, 'border-bottom-focus': borderClass}">
        <h4>Inscription Simplonien</h4>
      </button>
    </div>
    <!-- FORM RECRUITER -->
    <form name="recruiterForm" ng-submit="recruiterForm.$valid && registerRecruteur()" ng-show="user.role == 'Recruteur'" novalidate>
      <div class="main-cont-input">
        <md-input-container>
            <label>Entreprise</label>
            <input type="text" ng-model="userRecruteur.company" required>
        </md-input-container>
        <md-input-container>
            <label>Nom</label>
            <input type="text" ng-model="userRecruteur.lastName" required>
        </md-input-container>
        <md-input-container>
            <label>Prenom</label>
            <input type="text" ng-model="userRecruteur.firstName" required>
        </md-input-container>
        <md-input-container>
            <label>Maitrise recherchée</label>
            <md-select ng-model="userRecruteur.technology" required>
                <md-option ng-repeat="skill in skills" ng-value="skill.name">
                    {{skill.name}}
                </md-option>
            </md-select>
        </md-input-container>
      <!-- EMAIL -->
      <md-input-container>
          <label>E-mail</label>
          <input type="email" ng-model="userRecruteur.email" required>
          <span class="match" ng-show="!emailR">Email déjà existant</span>
      </md-input-container>

      <!-- PASSWORD -->
      <md-input-container>
          <label>Mot de passe</label>
          <input type="password" ng-model="userRecruteur.password" minlength='8' required>
      </md-input-container>

      <!-- VERIF PASSWORD -->
      <md-input-container>
          <label>Confirmation mot de passe</label>
          <input type="password" ng-model="passwordCheckedRecruteur" minlength='8' required>
      </md-input-container>
      <p class="match" ng-hide="userRecruteur.password.length<1"  ng-show="passwordCheckedRecruteur != userRecruteur.password || passwordCheckedRecruteur.length<8" required>Les mots de passe doivent être identiques et de 8 caractères minimum.</p>
      <span class="match" ng-show=' recruiterForm.$submitted && recruiterForm.$invalid'>
        Tous les champs sont requis
      </span>
    </div>
      <div class='content login cont-button-bottom'>
          <input class="sendLogin"  type="submit" value="Connexion" >
      </div>
    <div class="redirect">
      <a ui-sref="login">Se connecter</a>
    </div>
  </form>

  <!-- FORM SIMPLONIEN -->
  <form class="form-simplonien" name="simplonienForm" ng-submit="simplonienForm.$valid && registerSimplonien()" ng-show="user.role == 'Simplonien'" novalidate>
    <div class="main-cont-input">
      <md-input-container>
          <label>Nom</label>
          <input type="text" ng-model="userSimplonien.lastName" required>
      </md-input-container>
      <md-input-container>
          <label>Prénom</label>
          <input type="text" ng-model="userSimplonien.firstName" required>
      </md-input-container>
      <!-- EMAIL -->
      <md-input-container>
          <label>E-mail</label>
          <input type="email" ng-model="userSimplonien.email" required>
          <span class="match" ng-show="!emailS">Email déjà existant</span>
      </md-input-container>
      <!-- PASSWORD -->
      <md-input-container>
          <label>Mot de passe</label>
          <input type="password" ng-model="userSimplonien.password" minlength='8' required>
      </md-input-container>
      <!-- VERIF PASSWORD -->
      <md-input-container>
          <label>Confirmation mot de passe</label>
          <input type="password" ng-model="passwordCheckedSimplonien" minlength='8' required>
      </md-input-container>
      <span class="match" ng-hide="userSimplonien.password.length<1"  ng-show="passwordCheckedSimplonien != userSimplonien.password || passwordCheckedSimplonien.length<8">Les mots de passe doivent être identiques et de 8 caractères minimum.</span>
      <span class="match" ng-show=' simplonienForm.$submitted && simplonienForm.$invalid'>Tous les champs sont requis</span>
    </div>
    <div class="cont-button">
      <div class='content login cont-button-bottom'>
          <input class="sendLogin"  type="submit" value="Connexion" >
      </div>
    </div>
    <div class="redirect">
      <a ui-sref="login">Se connecter</a>
    </div>
  </form>
</div>
<div class="required-cont-gen required-cont-hide" ng-class="{'required-cont':!validForm}">
  <div class="img-required-validate"></div>
  <p class="required" >Un lien de confirmation a été envoyé par mail.</p>
</div>
</div>
