 <div class="view-container ProfilUser">
   <!-- ////////////////////////////////// GLobal Form container ////////////////////////////////// -->

  <div class="global-profile-container">
    <!-- ////////////////////////////////// Photo Upload ////////////////////////////////// -->

    <div class="choose-pic">
      <div id="upload-pic"></div>
      <form class="form-photo" id="upload-photos" method="post" action="/api/upload_photos" enctype="multipart/form-data">
        <div class="form-group">
          <input id="photos-input" type="file" name="photos[]" multiple="multiple">
        </div>
        <input class="btn btn-default" type="submit" name="Photo Uploads" value="Upload Photo"/>
      </form>
    </div>
<!-- ////////////////////////////////// TABS ////////////////////////////////// -->

    <div class="tab-container">
      <div class="tab" ng-click="tab = 'fiche'" ng-class="{'border-focus':tab ==='fiche'}">
        <h3 class="tab-name">Ma Fiche</h3>
      </div>
      <div class="tab" ng-click="tab = 'infos'" ng-class="{'border-focus':tab ==='infos'}">
        <h3 class="tab-name">Mes Infos Personnelles</h3>
      </div>
    </div>

    <!-- ////////////////////////////////// INFOS PERSO Form ////////////////////////////////// -->

    <div class="container-info_perso" ng-if="tab === 'infos'">
      <div class="container-create">
        <form class="section form-info_perso" name="infoPersoForm" ng-submit="infoPersoForm.$valid && updateUser(member._id)" novalidate>
          <h3 class="info-title">Modifier les infos personnelles de votre compte</h3>
          <div class="info-group">
            <div class="cont-input">
              <label class='input-label' for="boCreateLastNameSimploniens">Nom*</label>
              <input name='memberNom' class="input-style" ng-model="member.lastName" title="Votre nom est requis" placeholder="Nom*" type="text" required>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateNameSimploniens">Prénom*</label>
              <input id="boCreateNameSimploniens" name="memberPrenom" class="input-style" type="text" ng-model="member.firstName" title="Votre prénom est requis" placeholder="Prénom*" required>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateMailSimploniens">E-mail*</label>
              <input id="boCreateMailSimploniens" name="memberEmail" class="input-style" type="email" ng-model="member.email" title="Votre addresse e-mail est requise" placeholder="E-mail*" required>
              <span class="error-msg" ng-show='infoPersoForm.$submitted && infoPersoForm.memberEmail.$error.email'>Cette adresse E-mail n'est pas valide</span>
            </div>
          </div>
          <p class="error-msg" ng-show='infoPersoForm.$submitted && infoPersoForm.$invalid'>Veuillez remplir les champs obligatoires</p>
          <input class="input-style edit-button" value="Modifier mes infos" type="submit">
        </form>

        <!-- ////////////////////////////////// MODIFS PASSWORD Form ////////////////////////////////// -->

        <form class="section form_password" name='passwordForm'>
          <h3 class="info-title">Modifier mot de passe</h3>
          <div class="info-group">
            <div class="cont-input">
              <label class='input-label' for="boCreateMailSimploniens">Ancien Mot de Passe</label>
              <input id="boCreateMailSimploniens" name="passwordOld" class="input-style" placeholder="Ancien Mot de Passe" type="password" required ng-model="newPassword.oldpass">
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateMailSimploniens">Nouveau Mot de Passe</label>
              <input id="boCreateMailSimploniens" name='passwordNew' class="input-style" ng-model="newPassword.newpass" placeholder="Nouveau Mot de Passe" type="password" required>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateMailSimploniens">Confirmer Nouveau Mot de Passe</label>
              <input id="boCreateMailSimploniens" name='passwordNewConfirm' class="input-style" ng-model="newPassword.confirmNewpass" placeholder="Confirmer Nouveau Mot de Passe" type="password" pw-check="newPassword.newpass" required>
             <span class="error-msg" ng-show='passwordForm.$submitted && Form.newPassword.confirmNewpass.$error.pwCheck'>Vos nouveaux Mot de Passe doivent être identiques</span>
            </div>
          </div>
          <p class="error-msg" ng-show='passwordForm.$submitted && passwordForm.$invalid'>Veuillez remplir les champs obligatoires</p>
          <div class="button-container">
            <input class="input-style edit-button" value="Modifier mon mot de passe" ng-click="passwordForm.$valid && updateUserPass(member._id)" type="submit">
          </div>
          <div>this form is valid : {{passwordForm.$valid}}</div>
        </form>
      </div>
    </div>

    <!-- ////////////////////////////////// FICHE Form ////////////////////////////////// -->

    <div class="container-fiche" ng-if="tab === 'fiche'">
      <form class="container-create form-fiche" name="ficheForm">

        <!-- User Info Section -->
        <div class="section">
          <h1 class="info-title">Informations</h1>
          <div class="info-group">
            <div class="cont-input">
              <label class='input-label' for="boCreateLastNameSimploniens">Nom</label>
              <input id="boCreateLastNameSimploniens" class="input-style" ng-model="member.lastName" placeholder="Nom" type="text" required name="nom">
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateNameSimploniens">Prénom*</label>
              <input id="boCreateNameSimploniens" class="input-style" ng-model="member.firstName" placeholder="Prénom*" required name='prenom'>

            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateOldSimploniens">Age*</label>
              <input id="boCreateOldSimploniens" type="number" name="age" class="input-style" ng-model="student.age" maxlength='2' placeholder="Age*" required>
              <span class="error-msg" ng-show='ficheForm.age.$invalid && ficheForm.age.$dirty'>Votre âge est incorrect</span>

            </div>
            <div class="cont-input">
              <select id="boCreateSexeSimploniens" class="input-style" ng-model="student.Sexe">
                <option value="" disabled>Sexe</option>
                <option value="Homme">Homme</option>
                <option value="Femme">Femme</option>
                <option value="Autre">Autre</option>
              </select>
            </div>
            <div class="cont-calendar">
              <label class='input-label' for="boCreateNameSimploniens">Date de diponibilité*</label>
              <md-datepicker placeholder="Choisir date" ng-model="student.dispo"></md-datepicker>
            </div>
            <div class="cont-input">
              <select id="boCreatePromoSimploniens" class="input-style" ng-model="student.region" placeholder="Region*" required>
                <option class="labelOption" disabled selected value>Region*</option>
                <option ng-repeat="region in regions">{{region.name}}</option>
              </select>
            </div>
            <div class="cont-input">
              <select id="boCreatePromoSimploniens" class="input-style" ng-model="student.promo" placeholder="Promo*" required name="promo">
                <option class="labelOption" disabled selected value>Promo*</option>
                <option ng-repeat="promo in promos">{{promo.name}}</option>
              </select>
            </div>
            <div class="cont-input full-width">
                <p class="form-instruction">Veuillez Sectionner le(s) type(s) de contrat que vous recherchez (au moins 1)*</p>
              <div class="input-checkbox-container">
                <label ng-repeat="contract in contracts">
                  <input type="checkbox" checklist-model="student.Contrat" checklist-value="contract.name" ng-model="checked" ng-required='student.Contrat.length < 1'> {{contract.name}}
                </label>
              </div>
              <span class="error-msg" ng-show='ficheForm.$submitted && student.Contrat.length < 1'>Vous devez choisir au moins un type de contrat</span>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateMailSimploniens">E-mail*</label>
              <input id="boCreateMailSimploniens" type="email" class="input-style" ng-model="member.email" placeholder="E-mail*" required name='email'>
              <span class="error-msg" ng-show='ficheForm.$submitted && ficheForm.email.$error.email'>Cette adresse E-mail n'est pas valide</span>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateGithubSimploniens">Github*</label>
              <input id="boCreateGithubSimploniens" class="input-style" type="url" ng-model="student.Github" placeholder="Github*" name="github" required>
              <span class="error-msg" ng-show='ficheForm.github.$invalid && ficheForm.github.$dirty'>Vos liens doivent commencer par "http://" ou "http://"</span>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateLinkedinSimploniens">Linkedin*</label>
              <input id="boCreateLinkedinSimploniens" class="input-style" type="url" ng-model="student.Linkedin" placeholder="Linkedin*" name="linkedin" required>
              <span class="error-msg" ng-show='ficheForm.linkedin.$invalid && ficheForm.linkedin.$dirty'>Vos liens doivent commencer par "http://" ou "http://"</span>

            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreatePortfolioSimploniens">Portfolio</label>
              <input id="boCreatePortfolioSimploniens" class="input-style" type="url" ng-model="student.Portfolio" placeholder="Portfolio" name="portfolio">
              <span class="error-msg" ng-show='ficheForm.portfolio.$invalid && ficheForm.portfolio.$dirty'>Vos liens doivent commencer par "http://" ou "https://"</span>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateTwitterSimploniens">Twitter</label>
              <input id="boCreateTwitterSimploniens" class="input-style" type="url" ng-model="student.Twitter" placeholder="Twitter" name="twitter">
              <span class="error-msg" ng-show='ficheForm.twitter.$invalid && ficheForm.twitter.$dirty'>Vos liens doivent commencer par "http://" ou "https://"</span>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateStackOverFlowSimploniens">StackOverFlow</label>
              <input id="boCreateStackOverFlowSimploniens" class="input-style" type="url" ng-model="student.StackOverFlow" placeholder="StackOverFlow" name="stackoverflow">
              <span class="error-msg" ng-show='ficheForm.stackoverflow.$invalid && ficheForm.stackoverflow.$dirty'>Vos liens doivent commencer par "http://" ou "https://"</span>
            </div>
          </div>
        </div>

        <!-- User Profile Description Section -->
        <div class="section">
          <h1 class="info-title">Profil</h1>
          <div class="cont-input full-width">
            <label class='input-label' for="boCreateAboutSimploniens">Votre Description*</label>
            <textarea id="boCreateAboutSimploniens" class="input-style" ng-model="student.description" placeholder="Votre Description*" name="description" required>{{student.description}}</textarea>
          </div>
        </div>

        <!-- User Competences Section -->
        <div class="section">
          <h1 class="info-title">Compétences</h1>
          <div class="info-group">
            <div class="cont-input">
              <select id="boCreateDomaineSimploniens" class="input-style" ng-model="student.Domaine" required name='domaine'>
                <option value="" disabled>Domaine*</option>
                <option value="Front-End">Front-End</option>
                <option value="Back-End">Back-End</option>
                <option value="Full-Stack">Full-Stack</option>
              </select>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateCVSimploniens">Lien vers votre CV*</label>
              <input id="boCreateCVSimploniens" type="url" class="input-style" name="cv" placeholder="Lien vers votre CV" ng-model="student.CV" required>
              <span class="error-msg" ng-show='ficheForm.cv.$invalid && ficheForm.cv.$dirty'>Vos liens doivent commencer par "http://" ou "http://"</span>
            </div>
            <div class="cont-input">
              <select id="boCreateSpeOneSimploniens" class="input-style" ng-model="student.SpecialiteUn" placeholder="1ère Spécialité*" required>
                <option class="labelOption" disabled selected value>1ère Spécialité*</option>
                <option ng-repeat="skill in skills" value="{{skill.name}}" ng-click='showSkill()'>{{skill.name}}</option>
                <!-- | filter:student.SpecialiteDeux:student.SpecialiteTrois -->
              </select>
              {{student.SpecialiteUn}}
            </div>
            <div class="cont-input">
              <select id="boCreateSpeTwoSimploniens" class="input-style" ng-model="student.SpecialiteDeux" placeholder="2e Spécialité*" required>
                <option class="labelOption" disabled selected value>2e Spécialité*</option>
                <option ng-repeat="skill in skills" value="{{skill.name}}">{{skill.name}}</option>
                <!-- | filter:student.SpecialiteUn:student.SpecialiteTrois -->
              </select>
              {{student.SpecialiteDeux}}
            </div>
            <div class="cont-input">
              <select id="boCreateSpeThreeSimploniens" class="input-style" ng-model="student.SpecialiteTrois" placeholder="3e Spécialité*" required>
                <option class="labelOption" disabled selected value>3e Spécialité*</option>
                <option ng-repeat="skill in skills" value="{{skill.name}}">{{skill.name}}</option>
                <!-- | filter:student.SpecialiteUn:student.SpecialiteTrois -->
              </select>
              {{student.SpecialiteTrois}}
            </div>
            <div class="cont-input">
              <div class="input-button-container">
                <label class='input-label' for="boCreateTagsSimploniens">Vos Compétences</label>
                <input id="boCreateTagsSimploniens" class="input-style" name="tags" placeholder="Vos Compétences" ng-model="tag">
                <button type="button"ng-click='addTag(tag); tag = ""' name="button" class="tagViewVille">Ajouter</button>
              </div>
            </div>
            <ul class="tags-list">
              <li class="tagViewVille" ng-repeat='tag in student.tags track by $index'>{{tag}}<span class="closeButton" ng-click='removeTag(tag)'></span></li>
            </ul>
          </div>
          <span class="error-msg" ng-if='ficheForm.$submitted && checkSpe'>Vous ne pouvez pas choisir plusieurs fois la même compétence</span>
          <h3 class="info-title-sm">Projets</h3>
          <div class="info-group">
            <div class="cont-input">
              <label class='input-label' for="boCreateProjetOneSimploniens">Lien vers Projet 1</label>
              <input id="boCreateProjetOneSimploniens" type="url" class="input-style" ng-model="student.ProjetUn" name="projet1" placeholder="Lien vers Projet 1">
              <span class="error-msg" ng-show='ficheForm.projet1.$invalid && ficheForm.projet1.$dirty'>Vos liens doivent commencer par "http://" ou "http://"</span>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateProjetDeuxSimploniens">Lien vers Projet 2</label>
              <input id="boCreateProjetDeuxSimploniens" type="url" class="input-style" name="projet2" ng-model="student.ProjetDeux" placeholder="Lien vers Projet 2">
              <span class="error-msg" ng-show='ficheForm.projet2.$invalid && ficheForm.projet2.$dirty'>Vos liens doivent commencer par "http://" ou "http://"</span>
            </div>
            <div class="cont-input">
              <label class='input-label' for="boCreateProjetDeuxSimploniens">Lien vers Projet 3</label>
              <input id="boCreateProjetTroisSimploniens" type="url" class="input-style" name="projet3" ng-model="student.ProjetTrois" placeholder="Lien vers Projet 3">
              <span class="error-msg" ng-show='ficheForm.projet3.$invalid && ficheForm.projet3.$dirty'>Vos liens doivent commencer par "http://" ou "http://"</span>
            </div>
          </div>
        </div>
        <span class="error-msg" ng-if='ficheForm.$invalid && ficheForm.$submitted'>Veuillez remplir les champs obligatoires marqués d'une *</span>
          <div>this form is valid : {{ficheForm.$valid}}</div>
          <!-- Submit Buttons -->
          <div class="button-container">
            <input class="input-style edit-button" ng-if="!cardExist" value="Enregistrer" type="submit" ng-click='createSimplonien()'>
            <input class="input-style edit-button" value="Modifier sa fiche" ng-if="cardExist" type="submit" ng-click=' updateStudent(student._id)'>
            <input class="input-style delete-button" value="Supprimer sa fiche" ng-if="cardExist" type="button" ng-click="deleteCard(student._id)">
          </div>
        </form>
      </div>
    </div>
  </div>
